<div class="filter-by-wrapper">
  <p id="filter-by-label" *ngIf="showHeader">Add Filters</p>

  <div class="filter-by-container">
    <!-- Filter -->
    <div class="filter-row" *ngFor="let filter of filterBy; let i = index;">
      <!-- ..and | or -->
      <ng-container>
        <p id="filter-row-label" *ngIf="i == 0">Where</p>
        <p id="filter-row-label" *ngIf="i >= 2">{{ andOrLabel }}</p>

        <app-resource-basic-menu *ngIf="i == 1" [size]="'small'" [placeholder]="'and/or'" [menuPosition]="menuPosition"
          [menuOptions]="andOrOptions" [selectedValue]="filter.andOr"
          (optionSelectedEmitter)="handleMenuSelection($event, i, 'andOr')"></app-resource-basic-menu>
      </ng-container>

      <!-- ..field -->
      <app-resource-basic-menu [size]="'small'" [placeholder]="'Field'" [menuPosition]="menuPosition"
        [menuOptions]="filterFieldOptions" [selectedValue]="filter.filterField"
        (optionSelectedEmitter)="handleMenuSelection($event, i, 'field')"
      ></app-resource-basic-menu>

      <!-- ..operator -->
      <ng-container>
        <app-resource-basic-menu [size]="'small'" [placeholder]="'Operator'" [menuPosition]="menuPosition"
          [menuOptions]="filterOperatorOptions" [selectedValue]="filter.filterOperator"
          (optionSelectedEmitter)="handleMenuSelection($event, i, 'operator')"
          (onResourceMenuToggleEmitter)="onResourceMenuToggle(filter.filterField)"></app-resource-basic-menu>
      </ng-container>

      <!-- ..value -->

      <!-- Availability Percentage-->
      <div  class="threshold" id="resourcesAvailabilityPercentRangeFilter" *ngIf="filter.filterField == FIELDOPTIONENUM.AVAILABLE_PERCENTAGE && filter.filterOperator == FIELDOPERATORENUM.BETWEEN">
        <app-range-slider [placeholder]="'Select Threshold'" [filterType]="'between'"
          [selectedRange]="filter.parsedValue" (updateThresholdRange)="updateThresholdRangeHandler($event, i)">
        </app-range-slider>
      </div>
      <div class="date-picker-wrapper"   *ngIf="(filter.filterField == FIELDOPTIONENUM.AVAILABLE_PERCENTAGE && filter.filterOperator != FIELDOPERATORENUM.BETWEEN ) || filter.filterField == '' " >
        <input type="number" class="form-control" [min] = 0 max = 100 id="lname" name="lname" [ngModel]="filter.filterValue" (ngModelChange)="onAvailabilityPercentChange($event, i)">
      </div>
      <!--Availability Percentage-->
   
      <!-- ..datepicker is "field" options is of type date -->
      <div class="date-picker-wrapper" 
          *ngIf="filter.filterField == FIELDOPTIONENUM.AVAILABLE_DATE || filter.filterField == FIELDOPTIONENUM.HIRE_DATE || filter.filterField == FIELDOPTIONENUM.LAST_DATE_STAFFED">
        <div *ngIf="filter.filterOperator !== FIELDOPERATORENUM.BETWEEN"   id="resourcesDatePicker" class="input-group w-auto justify-content-end calendar calendar-resources">
          <input type="text" id="date-calendar" [ngModel]="filter.filterValue" readonly (ngModelChange)="onDateChange($event, i)"
            class="form-control" bsDatepicker [bsConfig]="bsConfig" placeholder="Date" />
        </div>

        <div *ngIf="filter.filterOperator == FIELDOPERATORENUM.BETWEEN" class="input-group w-auto justify-content-end calendar calendar-resources">
          <input  id="resourcesDateRangePicker" type="text" name="daterange" readonly [ngModel]="filter.parsedValue"
              (ngModelChange)="onDateRangeChange($event, i)" class="form-control" #dp="bsDaterangepicker" bsDaterangepicker
              [bsConfig]="bsConfig" placeholder="Date" />
        </div>

      </div>

      <!-- Commitment Type -->
      <div class="dropdown mr-3" id="resourcesCommitmentTypeFilter" *ngIf="filter.filterField == FIELDOPTIONENUM.COMMITMENT_TYPE">
        <app-multi-select-dropdown [dropdownList]="commitmentTypesDropDownList" [title]="'Commitment Type'"
          [selectedItems]="filter.parsedValue" (refreshView)="onResourcesCommitmentsChange($event, i)">
        </app-multi-select-dropdown>
      </div>

      <!-- Certificates -->
      <div class="dropdown mr-3" id="resourcesCertificatesFilter" *ngIf="filter.filterField == FIELDOPTIONENUM.CERTIFICATES">
        <app-multi-select-dropdown [title]="'Certificates'" [selectedItems]="filter.parsedValue"
          [dropdownList]="certificatesDropDownList" (refreshView)="OnResourcesCertificatesChange($event,i)"></app-multi-select-dropdown>
      </div> 

        <!-- Languages -->
      <div class="dropdown mr-3" id="resourcesLanguagesFilter" *ngIf="filter.filterField == FIELDOPTIONENUM.LANGUAGES">
        <app-multi-select-dropdown [title]="'Languages'" [selectedItems]="filter.parsedValue"
          [dropdownList]="languagesDropDownList" (refreshView)="OnResourcesLanguagesChange($event,i)"></app-multi-select-dropdown>
      </div>

      <!-- Recent CD-->
      <div class="dropdown mr-3" id="resourcesRecentCdFilter" *ngIf="filter.filterField == FIELDOPTIONENUM.RECENT_CD">
        <app-multi-select-dropdown [title]="'Recent CD'" [selectedItems]="filter.parsedValue"
          [dropdownList]="recentCdDropdownList" (refreshView)="OnResourcesRecentCDChange($event,i)"></app-multi-select-dropdown>
      </div>


       <!-- Commercial Model-->
       <div class="dropdown mr-3" id="resourcesCommercialModelFilter" *ngIf="filter.filterField == FIELDOPTIONENUM.COMMERCIAL_MODEL">
        <app-multi-select-dropdown [title]="'Commercial Model'" [selectedItems]="filter.parsedValue"
          [dropdownList]="commercialModelDropdownList" (refreshView)="OnResourcesCommercialModelChange($event,i)"></app-multi-select-dropdown>
      </div>
      
      
       <!-- Industry And Capability -->
      <div class="dropdown mr-3" id="resourcesPreferencesFilter" *ngIf="filter.filterField == FIELDOPTIONENUM.INDUSTRY_AND_CAPABILITY">
        <app-multi-select-dropdown [title]="'Industry/Capability'" [selectedItems]="filter.parsedValue"
          [dropdownList]="industryAndCapabilityDropDownList"(refreshView)="OnResourcesPreferencesChange($event,i)"></app-multi-select-dropdown>
      </div>

      <!-- ..delete -->
      <button class="btn" (click)="deleteRow(i)">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>

  <!-- Add condition | Delete all cta -->
  <div class="filter-controls-wrapper">
    <button class="btn" (click)="addFilterRow()" *ngIf="filterBy.length < filterFieldOptions.length">
      <i class="fas fa-plus"></i>
      <span>Add Condition</span>
    </button>

    <button class="btn" *ngIf="filterBy.length > 1" (click)="deleteAll()">
      <i class="fas fa-trash"></i>
      <span>Delete All</span>
    </button>
  </div>
</div>
