<tr class="table-header d-flex align-items-center">
    <!-- Left Side Bar -->
  
    <th class="left-side-header">
            <tr class="left-side-bar d-flex align-items-center"
                [ngClass]="{
                    'expanded': !isLeftSideBarCollapsed, 
                    'collapsed': isLeftSideBarCollapsed,
                    'cases': selectedEmployeeCaseGroupingOption === 'cases',
                    'employees': selectedEmployeeCaseGroupingOption !== 'cases',
                    'topbar-collapsed': isTopbarCollapsed,
                    'topbar-expanded': !isTopbarCollapsed,
                    'staffingView': !isSelectedPracticeView,
                    'practiceStaffingView': isSelectedPracticeView
                }">
            <!-- Labels -->
            <ng-container  *ngFor="let header of leftSideHeaders; let labelIndex = index">
                <th
                class="left-side-cell"
                  [ngClass]="{
                    'expanded': !isLeftSideBarCollapsed, 
                    'collapsed': isLeftSideBarCollapsed,
                    'cases': selectedEmployeeCaseGroupingOption === 'cases',
                    'employees': selectedEmployeeCaseGroupingOption !== 'cases',
                    'topbar-collapsed': isTopbarCollapsed,
                    'topbar-expanded': !isTopbarCollapsed,
                    'staffingView': !isSelectedPracticeView,
                    'practiceStaffingView': isSelectedPracticeView,
                    'isHidden': header.isHidden
                }"
               
                *ngIf="!header.isHidden && (labelIndex == 0 || ((labelIndex > 0 && isTopbarCollapsed) || !isSelectedPracticeView))"
            >
            <div class="d-flex align-items-center" >
                      <span>{{ header.label }}</span>
                      <ng-container *ngIf="header.id === 'note'">
                        <!-- alert icon -->
                        <span class="user__icon" triggers="mouseenter:mouseleave" popoverClass="notes-popover">
                  <i class="fas fa-exclamation-triangle" id="alertIcon"></i>
                  <div class="hover-text" container="body" >{{notesAlertText}}</div>
              </span>
                        </ng-container>
                        <!-- Info Icon -->
                        <ng-container *ngIf="header.hasInfoIcon">
                            <i class="fas fa-info-circle info-icon-pad" [title]="header.infoText"></i>
                        </ng-container>
                      <button
                          class="filter-cta align-items-center justify-content-center"
                          id="filter-cta-{{ header.id }}"
                      >
                      </button>
                </div>
            </th>

            </ng-container>
            
  
            <!-- Expand & Collapse All Rows CTA -->
            <th class="left-side-cell expand-collapse-all-cta-wrapper d-flex align-items-end">
                <ng-container *ngIf="!isLeftSideBarCollapsed">
                  <span>All</span>
                  <button 
                    id="btn-header-expand-collapse-all"
                    class="expand-collapse-cta d-flex align-items-center justify-content-center"
                    [class.collapsed]="isTopbarCollapsed"
                    (click)="expandCollapseAllRows()"
                  >
                    <i class="fa fa-chevron-up"></i>
                  </button>
                </ng-container>
            </th>
  
            <!-- Expand & Collapse Sidebar CTA -->
            <th class="expand-collapse-sidebar-cta-wrapper">
                <button [ngClass]="{'expanded': !isLeftSideBarCollapsed, 'collapsed': isLeftSideBarCollapsed}"
                      class="expand-collapse-cta d-flex align-items-center justify-content-center"
                      (click)="expandCollapseSidebar($event)"
                  >
                      <i class="fa fa-arrow-left"></i>
                </button>
            </th>
        </tr>
    </th>
  
    <!-- Right Side Dates -->
    <ng-container *ngIf="selectedWeeklyMonthlyGroupingOption !== weeklyMonthlyGroupingEnum.MONTHLY">
      <th>
        <div class="right-side-wrapper">
            <tr class="weeks-row d-flex align-items-center columnStartDate">
                <ng-container *ngFor="let day of perDayDate; let i = index">
                    <th
                        class="week-cell bordered-cell d-flex align-items-center justify-content-center"
                        *ngIf="perDayDate[i].weekName != ''"
                    >
                        <span>{{ perDayDate[i].weekName }}</span>
                    </th>
                </ng-container>
            </tr>
            <tr class="dates-row d-flex align-items-center columnDate">
                <th
                    class="dates-cell bordered-cell d-flex align-items-center justify-content-center"
                    *ngFor="let day of perDayDate; let i = index"
                    [ngClass]="perDayDate ? perDayDate[i].className : ''"
                >
                    <span>{{ perDayDate[i].date }}</span>
                </th>
            </tr>
        </div>
      </th>
    </ng-container>
  
    <ng-container *ngIf="selectedWeeklyMonthlyGroupingOption === weeklyMonthlyGroupingEnum.MONTHLY">
      <th>
        <div class="right-side-wrapper">
            <tr class="weeks-row d-flex align-items-center columnStartDate">
                <ng-container *ngFor="let month of distinctMonths; let i = index">
                    <th
                        class="month-cell bordered-cell d-flex align-items-center justify-content-center"
                        [style.width.px]="getWidth(month)"
                    >
                        <span>{{ month }}</span>
                    </th>
                </ng-container>
            </tr>
            <tr class="dates-row d-flex align-items-center columnDate">
                <th
                    class="monthly-view-week-cell bordered-cell d-flex align-items-center justify-content-center"
                    *ngFor="let day of perWeekDate; let i = index"
                    [ngClass]="perWeekDate ? perWeekDate[i].className : ''"
                >
                    <span>{{ perWeekDate[i].weekName | date: 'dd-MMM' }}</span>
                </th>
            </tr>
        </div>
      </th>
    </ng-container>
  </tr>
