<div class="recent-cm-wrapper mt-2" [class.collapsed]="commercialModelWrapperCollapsed">
    <!-- Recent CD Header - Label & CTAs -->
    <div class="recent-cd-header-wrapper">
      <span class="header-label" [class.blue-color]="commercialModels.length > 0">
          <span class="recent-cd-container">
              Commercial Model
          </span>
      </span>
  
      <div class="d-flex align-items-center ml-2">
          <!-- Add New Recent CD CTA -->
          <button *ngIf="!isCommercialModelReadonly" class="d-flex align-items-center justify-content-center" (click)="toggleAddNewCommercialModel()">
              <i class="fa fa-plus"></i>
          </button>
  
          <!-- Expand | Collapse Recent CD Container -->
          <button (click)="commercialModelWrapperCollapsed = !commercialModelWrapperCollapsed"
              class="expand-collapse-recent-cd d-flex align-items-center justify-content-center ml-auto" [class.collapsed]="commercialModelWrapperCollapsed" *ngIf="commercialModels.length > 0">
              <i class="fa fa-chevron-up"></i>
          </button>

          <button (click)="closeCommercialModelWrapper()"
          class="close-notes d-flex align-items-center justify-content-center ml-2" *ngIf="!isHideCloseIcon">
          <i class="fa fa-times"></i>
      </button>
      </div>
  </div>
  
  
  
    <!-- New Recent CD Wrapper -->
    <div class="new-recent-cm-wrapper" id="new-recent-cm-wrapper-{{ rowIndex }}" [class.hidden]="hideAddNewCommercialModel">
      <div class="new-recent-cm-content">
        <textarea placeholder="Type here..." [(ngModel)]="userCommercialModel"></textarea>
      </div>
  
      <div class="new-recent-cm-ctas">
        <!-- Cancel changes -->
        <button class="primary" (click)="cancelCommercialModelHandler()">Cancel</button>
  
        <!-- Add / Save Recent CD -->
        <!-- If edit mode is false -->
        <button *ngIf="!editCommercialModelMode" class="primary" (click)="addRecentCommercialModelHandler()" [disabled]="!userCommercialModel.length">
          Add 
        </button>
  
        <!-- If edit more is true -->
        <button *ngIf="editCommercialModelMode" class="primary" (click)="saveRecentCommercialModelEditHandler()" [disabled]="!userCommercialModel.length">
          Save
        </button>
      </div>
  
    </div>
  
    <!-- Recent CD Content -->
    <div class="recent-cm-content-wrapper" *ngIf="commercialModels.length">
      <div *ngFor="let commercialModel of commercialModels | slice:0:10; let CmIndex = index">
        <div class="last-edited d-flex align-items-center">
          <div class="d-flex align-items-center mr-1">
            <i class="fa fa-user mr-1"></i>
  
            <!-- Recent CD Author -->
            <span title="{{ commercialModel.createdByName }}" class="header-label d-flex align-items-center">
              {{ commercialModel.createdByName }}
            </span>
          </div>
  
          <!-- Recent CD Created & Last Edited Date -->
          <span title="{{ commercialModel.lastUpdated | date: 'MM/dd/yy h:mma' }}">
            {{ commercialModel.lastUpdated | date: "MM/dd/yy h:mma" }}
          </span>
          <!-- Edit and delete button -->
            <span *ngIf="loggedInUser === commercialModel.createdBy" class = "edit">
              <a href="javascript:void(0);" *ngIf="!isCommercialModelReadonly" (click)="onEditRecentCommercialModel(commercialModel)">Edit</a>
            </span>
            <span *ngIf="loggedInUser === commercialModel.createdBy" class = "delete">
              <a href="javascript:void(0);" *ngIf="!isCommercialModelReadonly" (click)="onDeleteCommercialModel(commercialModel, CmIndex)">Delete</a>
            </span>
          <!-- End Edit and delete button -->
        </div>
  
        <!-- Recent CD Content -->
        <div class="recent-cm-content">
          <p>{{ commercialModel.commercialModel }}</p>
        </div>
      </div>
    </div>
  </div>
     