<div class="overlay planning-card-overlay" [ngClass]="{ active: showDialog }" id="planning-overlay-card">
    <!-- Top -->
    <div class="top-section" [style.height.px]="height">
        <!-- Header | Breadcrumbs -->
        <header>
            <div class="header-wrapper d-flex align-items-center">
                <button (click)="closeDialog()">Staffing</button>
                <i class="fas fa-chevron-right"></i>

                <h2 *ngIf="planningCard">
                    {{ planningCard.name }}
                </h2>
            </div>

            <button (click)="closeDialog()">
                <i class="fas fa-times"></i>
            </button>
        </header>

        <!-- Header | Project Details -->
        <div class="planning-card-details" appFeatureDisabled
        [claimBasedFeatureDisabled]="appScreens.feature.planningCardOverlay" *ngIf="planningCard">
            <app-planning-card-header
                [planningCardDetails]="planningCard"
                [emailTo]="activeResourcesEmailAddresses"
                [isPegPlanningCard]="isPegPlanningCard"
                (upsertPlaceholderEmitter)="upsertPlaceholderHandler($event)"
                (showQuickPeekDialog)="showQuickPeekDialogHandler($event)"
                (removePlanningCardEmitter)="removePlanningCardEmitterHandler($event)"
                (openSTACommitmentFormHandler) = "onOpenSTACommitmentForm($event)"
                (sharePlanningCardEmitter)="sharePlanningCardEmitterHandler($event)"
                (openPlaceholderForm)="openPlaceholderFormhandler($event)"
                (openPegRFPopUpEmitter)="openPegRFPopUpHandler($event)"
                (updatePlanningCardEmitter)="updatePlanningCardEmitterHandler($event)"
                (isPegPlanningCardEmitter)="isPegPlanningCardEmitterHandler($event)"
            ></app-planning-card-header>
        </div>
    </div>

    <!-- Grab Handle -->
    <div class="grab-handle-wrapper">
        <div class="grab-handle" id="gr">
            <i class="fas fa-grip-lines"></i>
        </div>
    </div>

    <div class="bottom-section" appFeatureDisabled
    [claimBasedFeatureDisabled]="appScreens.feature.planningCardOverlay" [ngStyle]="getHeight()">
        <div class="stage" *ngIf="planningCard">
            <div class="row no-gutters" id="detailTabs">
                <div class="col-12 tbs">
                    <tabset #staticTabs>
                        <!--Start Gantt Tab Component-->
                        <tab heading="Calendar" (selectTab)="populateGanttData()" active="true">
                            <div style="padding-bottom: 10px">
                                <div
                                    style="text-align: right; margin-top: -38px"
                                    *appFeaturesAccess="accessibleFeatures.addCommitment"
                                >
                                    <button class="btn btn-default mr-3" (click)="addResource()">Add Resource</button>
                                </div>
                            </div>

                            <app-gantt-planning-card
                                [isGanttCalendarReadOnly]="isGanttCalendarReadOnly"
                                [investmentCategories]="investmentCategories"
                                [activeResourcesStartDate]="activeResourcesStartDate"
                                [calendarRadioSelected]="calendarRadioSelected"
                                (getActiveResourcesForProjectOnOrAfterSelectedDate)="
                                    getActiveResourcesForProjectOnOrAfterSelectedDateHandler($event)
                                "
                                (updateResourceToProject)="updateResourceToProjectHandler($event)"
                                (upsertResourceAllocationsToProject)="upsertResourceAllocationsToProjectHandler($event)"
                                (upsertPlaceholderAllocationsToProject)="
                                    upsertPlaceholderAllocationsToProjectHandler($event)
                                "
                                (deleteResourceFromProject)="deleteResourceFromProjectHandler($event)"
                                (openQuickAddForm)="openQuickAddFormHandler($event)"
                                (openPlaceholderForm)="openPlaceholderFormhandler($event)"
                            
                                (resourceCodeToOpen)="resourceCodeToOpenHandler($event)"
                                (changeCalendarOption)="changeCalendarOptionHandler($event)"
                                (openSplitAllocationDialog)="openSplitAllocationDialogHandler($event)"
                                (deleteSelectedProjectsConfirmationDialog)="deleteSelectedResourcesConfirmation($event)"
                                (deleteSelectedPlaceholdersConfirmationDialog)="
                                    deleteSelectedPlaceholdersConfirmation($event)
                                "
                                (openUpdateAllocationsDatesDialog)="openUpdateDateForm($event)"
                                (openUpdatePlaceholdersDatesDialog)="openUpdateDateForm($event)"
                            >
                            </app-gantt-planning-card>
                        </tab>

                        <!-- Case Intake Form Tab Component -->
                        <tab *ngIf="!planningCard.pegOpportunityId" heading="Case Intake Form" (selectTab)="showPlanningCardIntake = true">
                            <app-staffing-intake-form 
                                *ngIf="showPlanningCardIntake"
                                [planningCardId]="planningCard.id"
                            ></app-staffing-intake-form>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
