// top section
.top-section-wrapper,
.bottom-section-wrapper {

  // week controls
  .weekly-resource-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    min-height: 32px;
    position: relative;
    white-space: nowrap;

    // pagination buttons
    .pagination-cta {
      align-items: center;
      background: #ecf0ff;
      border: solid #e0e4e8;
      border-width: 1px 0px;
      color: #616568;
      display: flex;
      font-size: 12px;
      height: 100%;
      left: 0px;
      outline: none;
      padding-inline: 10px;
      position: absolute;
      right: auto;
      top: 0px;

      &.right-side {
        left: auto;
        right: 0px;
      }
    }

    .week-wrapper {
      border: solid #e0e4e8;
      border-width: 0px 1px 0px 0px;
      color: #121212;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      font-weight: 500;
      grid-column: auto;
      justify-content: center;
      min-width: 279px;

      .new-planning-card-wrapper {
        background-color: #fff;
        padding: 10px;
        position: sticky;
        top: 0px;
        width: 100%;
        z-index: 1;

        #new-planning-card-cta {
          background-color: #fff;
          border: 1px solid #284ce0;
          border-radius: 4px;
          color: #284ce0;
          font-size: 12px;
          outline: none;
          padding: 2px;
          text-align: center;
          width: 100%;
        }
      }

      &.resource-view {
        align-items: flex-start;
        background: #fff;
        border-radius: 4px;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        justify-content: flex-start;
        padding: 0px 10px 10px;
      }
    }
  }

  // applied filters
  .applied-filters-wrapper {
    align-items: center;
    background: #f7f9ff;
    display: flex;
    gap: 30px;
    min-height: 32px;
    padding: 7px 20px;

    &>* {
      color: #616568;
      font-size: 12px;
      line-height: 16px;
    }

    #bolder {
      font-weight: 500;
    }

    .filter-item {
      background: none;
      border: none;
      outline: none;
      padding: 0px;

      &:hover {
        color: #000;
      }

      &.active {
        color: #121212;
        font-weight: 500;
      }
    }

    // viewing group dropdown..
    // ..toggle
    #button-viewing-group-picker {
      background: none;
      border: none;
      outline: none;
    }

    // ..menu
    .dropdown-menu {
      background: #fff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      max-height: 130px;
      min-width: 150px;
      overflow: auto;

      // ..item
      .dropdown-item {
        color: #121212;
        font-size: 12px;
        line-height: 16px;
        padding: 6px 20px;
        text-align: left;

        &:hover,
        &:active,
        &.active {
          background-color: #f7f9ff;
          color: #000;
        }
      }
    }
  }
}

// toggle column span
.expanded {
  min-width: 650px !important;
  width: calc((100vw / 7) * 2);
}

// planning card / project wrapper
.cards-wrapper {
  display: grid;
  gap: 10px;
  width: 100%;
}