<ng-container *ngIf="!isCollapsed">
  <div class="tabs-section">
    <div class="tabs">
      <div class="tab-buttons">
        <button (click)="selectTab('Notes')" [class.active]="selectedTab === 'Notes'">Notes
          <span class="user__icon" popoverClass="notes-popover" triggers="mouseenter:mouseleave">
            <i *ngIf="selectedTab === 'Notes'" class="fas fa-exclamation-triangle" id="alertIcon"></i>
            <div class="hover-text" container="body">{{ notesAlertText }}</div>
          </span>
        </button>
        <button (click)="selectTab('Recent CD')" [class.active]="selectedTab === 'Recent CD'">Recent CD <i class="fas fa-info-circle info-icon-pad" title="{{ recentCdInfo }}"></i></button> 
        <button (click)="selectTab('Commercial Model')" [class.active]="selectedTab === 'Commercial Model'">Commercial Model  <i class="fas fa-info-circle info-icon-pad" title="{{ commercialModelInfo }}"></i></button> 
      </div>

      <!-- Tab Content -->
      <div class="tab-content">
        <div *ngIf="selectedTab === 'Notes'">
          <app-shared-gantt-notes
            [notes]="resourceViewNotes"
            [rowIndex]="rowIndex"
            [hideAddNewNote]=hideAddNewNoteAndCD
            [isNotesReadonly]="isNotesReadonly"
            (upsertNote)="upsertResourceViewNoteHandler($event)"
            (deleteNotes)="deleteResourceViewNotesHandler($event)">
          </app-shared-gantt-notes>
        </div>

        <div *ngIf="selectedTab === 'Recent CD'">
          <app-shared-gantt-recent-cd
            [recentCDs]="resourceViewCD"
            [rowIndex]="rowIndex"
            [hideAddNewRecentCD]=hideAddNewNoteAndCD
            [isRecentCdReadonly]="isNotesReadonly"
            (upsertRecentCD)="upsertResourceViewRecentCDHandler($event)"
            (deleteRecentCD)="deleteResourceViewRecentCDHandler($event)">
          </app-shared-gantt-recent-cd>
        </div>

        <div *ngIf="selectedTab === 'Commercial Model'">
          <app-shared-gantt-commercial-model
          [commercialModels] = "resourceViewCommercialModel"
          [rowIndex]="rowIndex"
          [hideAddNewCommercialModel]=hideAddNewNoteAndCD
          [isCommercialModelReadonly]="isNotesReadonly"
          (upsertCommercialModel)="upsertResourceViewCommercialModelHandler($event)"
          (deleteCommercialModel)="deleteResourceViewCommercialModelHandler($event)">
        </app-shared-gantt-commercial-model>
        </div>
      </div>
    </div> <!-- Closing .tabs-section div -->
  </div>
</ng-container>


<div *ngIf="isCollapsed" class="d-flex resume-container">
  <div (click)="onClickNotes()" class="resume-wrapper">
    <span *ngIf="resourceViewNotes.length != 0 && resourceViewNotes[0]?.note?.length" class="word-wrap hover-resume"
    [title]="getCommaSeparatedNotes(resourceViewNotes)">
      {{getCommaSeparatedNotes(resourceViewNotes)}}
    <span class="icon"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></span></span>
    <div *ngIf="selectedTab === 'Notes' && floatElement && resourceViewNotes.length != 0 " class="notes-wrapper hovered-section"
    (click)="$event.stopPropagation()">
      <app-shared-gantt-notes
      [notes]="resourceViewNotes"
      [rowIndex]="rowIndex"
      [hideAddNewNote]=true
      [isHideCloseIcon]= false
      [isNotesReadonly]="isNotesReadonly"
      (upsertNote)="upsertResourceViewNoteHandler($event)"
      (deleteNotes)="deleteResourceViewNotesHandler($event)"
      (closeNotesWrapperEmitter) = "closeNotesOrRecentCDWrapperEmitterHandler($event)">
    </app-shared-gantt-notes>
    </div>

  </div>

  <div (click)="onClickRecentCD()" class="resume-wrapper"><span
    *ngIf="resourceViewCD.length > 0 && resourceViewCD[0]?.recentCD?.length"
    class="word-wrap hover-resume"
    [title]="getCommaSeparatedRecentCDs(resourceViewCD)">
    {{ getCommaSeparatedRecentCDs(resourceViewCD) }}
    <span class="icon"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></span></span>
    <div *ngIf="selectedTab === 'Recent CD' && floatElement && resourceViewCD.length > 0 "  class="notes-wrapper hovered-section">
      <app-shared-gantt-recent-cd
      [recentCDs]="resourceViewCD"
      [rowIndex]="rowIndex"
      [hideAddNewRecentCD]=true
      [isRecentCdReadonly]="isNotesReadonly"
      [isHideCloseIcon] = false
      (upsertRecentCD)="upsertResourceViewRecentCDHandler($event)"
      (deleteRecentCD)="deleteResourceViewRecentCDHandler($event)"
      (closeRecentCDWrapperEmitter) = "closeNotesOrRecentCDWrapperEmitterHandler($event)">
    </app-shared-gantt-recent-cd>
    </div>
  </div>

   <div (click)="onClickCommercialModel()" class="resume-wrapper"><span
    *ngIf="resourceViewCommercialModel.length > 0 && resourceViewCommercialModel[0]?.commercialModel?.length"
    class="word-wrap hover-resume"
    [title]="getCommaSeparatedCommercialModels(resourceViewCommercialModel)">
    {{ getCommaSeparatedCommercialModels(resourceViewCommercialModel) }}
    <span class="icon"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></span></span>
    <div *ngIf="selectedTab === 'Commercial Model' && floatElement && resourceViewCommercialModel.length > 0 "  class="notes-wrapper hovered-section">
      <app-shared-gantt-commercial-model
      [commercialModels]="resourceViewCommercialModel"
      [rowIndex]="rowIndex"
      [hideAddNewCommercialModel]=true
      [isCommercialModelReadonly]="isNotesReadonly"
      [isHideCloseIcon] = false
      (upsertCommercialModel)="upsertResourceViewCommercialModelHandler($event)"
      (deleteCommercialModel)="deleteResourceViewCommercialModelHandler($event)"
      (closeCommercialModelWrapperEmitter) = "closeNotesOrRecentCDWrapperEmitterHandler($event)" >
    </app-shared-gantt-commercial-model>
   </div>
 </div>
</div>