@import "./../staffing-intake-form.component";

.process-details__icon {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  background: $grey-extra-light;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .description-step{
    position: absolute;
    bottom: -60px;
    width: 300px;
  }
  h4{
    font-size: $nav-item-font-size;
    font-weight: 600;
  }
  span{
    font-size: $small-font-size;
  }
}
.progress-details{
  padding-bottom: 60px;
  padding-top: 15px;
}
.name-role-default, .name-workstream-default{
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 80px;
  width: auto;
  background: transparent;
  &:focus {
    outline: none;
  }
}

.title-section {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: flex-start;
  width: 100% !important;
}

.name-workstream-default{
  width: 150px;
}
.name-role-icon{
  width: 24px;
  height: 24px;
  background: $grey-extra-light;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.workstream-btn{
  position: absolute;
  right: 1px;
  top: 25px;
}
.back-btn{
  position: absolute;
  left: 1px;
  top: 25px;
}
.overflow-visited{
  overflow: visible;
  border: 1px solid #BBBBB9;
  margin: 15px;
  background: #fff;
}
.header-title-flow{
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: $black-light;
}
.active-state{
  color: $bain-blue
}
.details-staff{
  .workstream-container{
    section.not-hovered{
      background-color: $grey-extra-light;
    }
  }
}

.save-details{
  background-color: $bain-blue;
  color: #fff;
}
.ws-container-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: transparent;
  padding: 10px 0;
  width: 245px;
  color: $grey-dark;
  text-align: left; /* Ensure text inside the button is left-aligned */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflow text */
  text-overflow: ellipsis; /* Adds ellipsis (...) if text is too long */
  &__active{
    background-color: $bain-blue;
    color: #fff;
  }
}


.word-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Adjust as needed */
  display: inline-block;
  vertical-align: middle;
}

.ws-container{
  width: 260px;
}
.workstream-preview{
  height: 1000px;
  overflow: scroll;
}
.add-role {
  border-style: dashed;
  min-height: 100px;
  margin-top: 25px;
  width: 100%;
  border-radius: 10px;
  gap: 15px;
  flex-direction: column;
  border: 2px dashed #add8e6;
  background-color: #f5f9ff;
  align-items: center;
}

#teamSizeDropdown {
  min-width: 120px;
  height: 31px;
  margin-right: 10px;
  width: 100px;
}

button.btn-sm {
  padding: 4px 12px;
  font-size: 0.875rem;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
}