<div class="searchbar__planningCard-item" (click)="openProjectDetailsDialogHandler()"
[ngClass]="{'include-in-capacity': searchedPlanningCard.includeInCapacityReporting}">
    <div class="searchbar__planningCard-status" style="height: 100%;" data-type="planningcard" [attr.data-id]="searchedPlanningCard.id">
      <div class="bar planning" data-type="planningcard" [attr.data-id]="searchedPlanningCard.id"></div>
    </div>
    <div data-type="planningcard" [attr.data-id]="searchedPlanningCard.id"></div>
    <div *ngIf="searchedPlanningCard.probabilityPercent" class="searchbar__planningCard-code" data-type="planningcard" [attr.data-id]="searchedPlanningCard.id" [title]="searchedPlanningCard.probabilityPercent + '% - ' + searchedPlanningCard.name">
      {{searchedPlanningCard.probabilityPercent}}% - {{searchedPlanningCard.name}}
    </div>
    <div *ngIf="!searchedPlanningCard.probabilityPercent" class="searchbar__planningCard-code" data-type="planningcard" [attr.data-id]="searchedPlanningCard.id" [title]="searchedPlanningCard.name">
      {{searchedPlanningCard.name}}
    </div>
    <div class="searchbar__planningCard-location" [title]="getSharedOfficeAbbNames(searchedPlanningCard.sharedOfficeCodes)" data-type="planningcard" [attr.data-id]="searchedPlanningCard.id">
      {{getFirstSharedOffice(searchedPlanningCard.sharedOfficeCodes )}}
    </div>
    <div *ngIf="searchedPlanningCard.startDate || searchedPlanningCard.endDate" class="searchbar__planningCard-date" data-type="planningcard" [attr.data-id]="searchedPlanningCard.id">
      {{searchedPlanningCard.startDate | date:'dd-MMM-yyyy'}} - {{searchedPlanningCard.endDate | date:'dd-MMM-yyyy'}}
    </div>
  </div>