@import "variables";
@import "./../staffing-intake-form.component";

.content-leadership {
  border: 1px solid #E0E4E8;
  border-radius: 4px;
  width: 407px;
  display: flex;
  justify-content: space-around;
  height: 107px;
  padding: 24px 16px 24px 16px;
  gap: 24px;

  h5 {
    margin-top: 0px;
  }

  p {
    font-size: 14px;
    color: $text-darker;
  }
  input{
    border: 1px solid #ced4da;
  };
}

.inf-container {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  .red-ball{
    height: 24px;
    width: 24px;
    background-color: $bain-red;
    border: none;
    border-radius: 50px;
  }
  h3{
    font-size: 24px;
    color: #000;
  }
  .user-actions {
    float: right;
    font-family: Graphik, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: #284CE0;
    margin-top: auto;
    height: 100%;
    display: flex;

    align-items: center;
    margin-left: 24px;

    div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .inf-update {
    float: right;
    width: 400px;
    color: $text-dark;
    height: 34px;
    padding: 8px 12px 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    background-color: #F7F9FF;
    font-size: 14px;
    border-radius: 50px;
  }
}
.weighed  {
  font-weight: 500;
}
// Case info section
.case-info-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e0e4e8;
    border-radius: 4px;
    background-color: #fff;
    font-family: Graphik, sans-serif;

    .case-info {
      display: flex; /* Use flexbox */
      justify-content: space-between; /* Ensure equal spacing */
      flex-wrap: wrap; /* Allow wrapping if necessary */
      font-size: 14px;
      color: $text-darker;

      div {
        margin-bottom: 10px;
        white-space: nowrap; /* Prevent text from wrapping */
      }
    }
  }

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
