<main>
    <!-- If Planning Cards -->
    <ng-container *ngIf="planningCards && !projects">
      <div class="resource-gantt-row d-flex"
        *ngFor="let planningCard of planningCards; trackBy: trackByid; let rowIndex = index">
        <!-- Left Side | Case Info -->
        <div class="left-side-bar" [class.collapsed]="isLeftSideCollapsed">
          <app-gantt-project [planningCards]="planningCard" [rowIndex]="rowIndex"
            [allRowsCollapsed]="allRowsCollapsed" [leftBarCollapsed]="leftBarCollapsed"
            (openPlaceholderForm)="openPlaceholderFormhandler($event)"
            (openAddTeamEmitter)="openAddTeamSkuFormHandler($event)"
            (upsertCasePlanningNote)="upsertCasePlanningNoteHandler($event)"
            (deleteCasePlanningNotes)="deleteCasePlanningNotesHandler($event)"
            (openAddTeamSkuForm)="openAddTeamSkuFormHandler($event)"
            (updateProjectChanges)="updateProjectChangesHandler($event)"></app-gantt-project>
        </div>
  
        <!-- Right Side | Case Chart -->
        <div class="right-side-gantt">
          <!-- keep - use for getting right side width -->
          <div class="grid-lines" style="opacity: 0; position: relative;">
            <div class="day" *ngFor="let day of perDayClass; let i = index" [ngClass]="perDayClass ? perDayClass[i] : ''">
            </div>
          </div>
  
          <!-- keep -->
          <div class="grid-lines">
            <div class="day" *ngFor="let day of perDayClass; let i = index" [ngClass]="perDayClass ? perDayClass[i] : ''">
            </div>
          </div>
  
          <!-- gantt -->
          <app-gantt-task id="component-styling" 
            [planningCards]="planningCard" 
            [dateRange]="dateRange"
            (openPlaceholderForm)="openPlaceholderFormhandler($event)"
            (openAddTeamSkuForm)="openAddTeamSkuFormHandler($event)">
          </app-gantt-task>
        </div>
      </div>
    </ng-container>
  
    <!-- If Cases -->
    <ng-container *ngIf="casesGanttData && !projects">
      <div class="resource-gantt-row d-flex"
        *ngFor="let case of casesGanttData; trackBy: trackByid; let rowIndex = index">
        <!-- Left Side | Case Info -->
        <div class="left-side-bar" [class.collapsed]="isLeftSideCollapsed">
          <app-gantt-project [casesGanttData]="case" [rowIndex]="rowIndex"
            (openAddTeamEmitter)="openAddTeamSkuFormHandler($event)"
            (skuTermClickForProject)="skuTermClickForProjectHandler($event)"
            (upsertCasePlanningNote)="upsertCasePlanningNoteHandler($event)"
            (deleteCasePlanningNotes)="deleteCasePlanningNotesHandler($event)"
            (openAddTeamSkuForm)="openAddTeamSkuFormHandler($event)"
            (updateProjectChanges)="updateProjectChangesHandler($event)">
          </app-gantt-project>
        </div>
        <!-- Allocated Placeholders pop-up-->
        <div id="alloted-resources" *ngIf="
                      (case.oldCaseCode === selectedProjectId || case.pipelineId === selectedProjectId) &&
                      showPlaceholdersOverlay
                  ">
          <app-allocated-placeholder [skuResources]="case"
            (closePlaceholdersOverlayEmitter)="closePlaceholdersOverlayHandler()"></app-allocated-placeholder>
        </div>
  
        <!-- Right Side | Case Chart -->
        <div class="right-side-gantt">
          <!-- keep - use for getting right side width -->
          <div class="grid-lines" style="opacity: 0; position: relative;">
            <div class="day" *ngFor="let day of perDayClass; let i = index" [ngClass]="perDayClass ? perDayClass[i] : ''">
            </div>
          </div>
  
          <!-- keep -->
          <div class="grid-lines">
            <div class="day" *ngFor="let day of perDayClass; let i = index" [ngClass]="perDayClass ? perDayClass[i] : ''">
            </div>
          </div>
  
          <!-- gantt -->
          <app-gantt-task id="component-styling" 
            [casesGanttData]="case" 
            [dateRange]="dateRange"
            (openPlaceholderForm)="openPlaceholderFormhandler($event)"
            (openAddTeamSkuForm)="openAddTeamSkuFormHandler($event)">
          </app-gantt-task>
        </div>
      </div>
    </ng-container>

    <!-- If Projects -->
     <ng-container *ngIf="projects">
      <div class="resource-gantt-row d-flex"
      *ngFor="let project of projects; trackBy: trackByid; let rowIndex = index">
      <!-- Left Side | Case Info -->
      <div class="left-side-bar" [class.collapsed]="isLeftSideCollapsed">
        <app-gantt-project [project]="project" [rowIndex]="rowIndex"
          [allRowsCollapsed]="allRowsCollapsed" [leftBarCollapsed]="leftBarCollapsed"
          (openPlaceholderForm)="openPlaceholderFormhandler($event)"
          (openAddTeamEmitter)="openAddTeamSkuFormHandler($event)"
          (upsertCasePlanningNote)="upsertCasePlanningNoteHandler($event)"
          (deleteCasePlanningNotes)="deleteCasePlanningNotesHandler($event)"
          (openAddTeamSkuForm)="openAddTeamSkuFormHandler($event)"
          (updateProjectChanges)="updateProjectChangesHandler($event)"></app-gantt-project>
      </div>

      <!-- Right Side | Case Chart -->
      <div class="right-side-gantt">
        <!-- keep - use for getting right side width -->
        <div class="grid-lines" style="opacity: 0; position: relative;">
          <div class="day" *ngFor="let day of perDayClass; let i = index" [ngClass]="perDayClass ? perDayClass[i] : ''">
          </div>
        </div>

        <!-- keep -->
        <div class="grid-lines">
          <div class="day" *ngFor="let day of perDayClass; let i = index" [ngClass]="perDayClass ? perDayClass[i] : ''">
          </div>
        </div>

        <!-- gantt -->
        <app-gantt-task id="component-styling" 
          [project]="project" 
          [dateRange]="dateRange"
          (openPlaceholderForm)="openPlaceholderFormhandler($event)"
          (openAddTeamSkuForm)="openAddTeamSkuFormHandler($event)">
        </app-gantt-task>
      </div>
    </div>
     </ng-container>
  </main>