<section>
  <div class="commitments-body-wrapper">
    <!-- vertical grid lines -->
    <div class="grid-lines">
      <ng-container *ngFor="let week of weeklyArray">
        <div
          *ngFor="let date of week.dates; let dayIndex = index"
          id="{{ date | date : 'dd-MMM-yyyy' }}"
          [class.weekend]="dayIndex == 5 || dayIndex == 6"
        ></div>
      </ng-container>
    </div>

    <!-- commitments -->
    <div class="commitments-wrapper">
      <div
        class="commitment-row"
        *ngFor="let commitment of commitments"
      >
        <app-commitment
          [commitment]="commitment"
          [dateRange]="dateRange"
        ></app-commitment>
      </div>
    </div>
  </div>
</section>
