<section class="notes-modal">

    <!-- header -->
    <div class="notes-modal__header">
        <h2 class="notes-modal__header__title">Notes and Case Intake Updates</h2>
        <button class="notes-modal-cta tertiary" (click)="close()">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <!-- notes list -->
    <div class="notes-modal__body">
    <div *ngIf="caseIntakeInfo?.length == 0 || sharedNotesInfo?.length > 0" >
        <h6 class="notes_subheading">Shared Notes</h6>
        <div class="notes-modal__body__note" *ngIf="!sharedNotesInfo || sharedNotesInfo?.length === 0">
            <div class="notes-modal__body__note__content">
                <p><span>The notes shared with you might have been deleted.</span></p>
            </div>
        </div>

    </div>
        
        <!-- Shared Notes Section -->
        <div *ngIf="sharedNotesInfo">
            <div class="notes-modal__body__note" *ngFor="let sharedNoteInfo of sharedNotesInfo"
                [class.read]="sharedNoteInfo.alertStatus === 'R'" style="pointer-events: none">

                <!-- ..read | unread icon -->
                <i class="far fa-sticky-note" [class.read]="sharedNoteInfo.alertStatus === 'R'"></i>

                <!-- ..content -->
                <div class="notes-modal__body__note__content">
                    <p><span>Note:</span> {{ sharedNoteInfo.note }}</p>

                    <div>
                        <!-- note for -->
                        <p>
                            <span>
                                {{ sharedNoteInfo.noteForEmployeeCode ? 'Resource note for:' : sharedNoteInfo.oldCaseCode ? 'Case note for:' : sharedNoteInfo.planningCardId ? 'Planning Card Note for:' : 'Opportunity Note for:' }}
                            </span>
                            {{ sharedNoteInfo.noteForEmployeeCode ? sharedNoteInfo.noteForEmployeeName + ' (' + sharedNoteInfo.noteForEmployeeCode + ')' : sharedNoteInfo.oldCaseCode ? sharedNoteInfo.caseName+ ' (' +sharedNoteInfo.oldCaseCode + ')' : sharedNoteInfo.planningCardId ? sharedNoteInfo.planningCardName : sharedNoteInfo.oppName }}
                        </p>

                        <!-- shared by -->
                        <p>
                            <span>Shared by:</span> {{ sharedNoteInfo.createdByEmployeeName }} ({{ sharedNoteInfo.createdBy }})
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Case Intake Notes Section -->
        <div *ngIf="caseIntakeInfo?.length > 0">
            <h6 class="notes_subheading">Case Intake Updates</h6>
            <div class="notes-modal__body__note" *ngFor="let intakeInfo of caseIntakeInfo"
                [class.read]="intakeInfo.alertStatus === 'R'" style="pointer-events: none">

                <!-- ..read | unread icon -->
                <i class="far fa-sticky-note" [class.read]="intakeInfo.alertStatus === 'R'"></i>

                <!-- ..content -->
                <div class="notes-modal__body__note__content">
                    <p><span>Case Intake Form Alert:</span> Changes made to Staffing Intake Form </p>

                    <div>
                        <!-- case intake form details -->
                        <p>
                            <span>{{intakeInfo.oldCaseCode? 'Intake Details for Case:' : intakeInfo.opportunityId ? 'Intake Details for Opportunity:' : 'Intake Details for PlanningCard:'}}</span>
                            {{intakeInfo?.demandName }} 
                        </p>
                        <!-- hyperlink to overlay -->
                        <p>
                            <span>More details:</span> 
                            <a [href]="baseUrl + (intakeInfo.oldCaseCode ? 'oldCaseCode=' + intakeInfo.oldCaseCode : intakeInfo.opportunityId ? 'pipelineId=' + intakeInfo.opportunityId : 'planningCardId=' + intakeInfo.planningCardId)" target="_blank">
                                Link to Overlay
                            </a>
                        </p>

                        <!-- lastupdated by -->
                        <p>
                            <span>LastUpdated by:</span> {{ intakeInfo?.lastUpdatedByName }} ({{intakeInfo.lastUpdatedBy}})
                        </p>
                        <!-- lastupdated Date -->
                        <p>
                            <span>Date & Time:</span> {{ intakeInfo?.lastUpdated | date: 'dd-MMM-yyyy HH:mm'}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- footer -->
    <div class="notes-modal__footer">
        <button class="notes-modal-cta primary" (click)="close()">Close</button>
    </div>
</section>
