<!-- menubar -->
<div
  app-menubar
  class="menubar"
  [isStaffedFromSupply]="isStaffedFromSupply"
  [isMenuOpen]="isMenuOpen"
  [class.open]="isMenuOpen"
  (toggleMenu)="isMenuOpen = !isMenuOpen"
  (getProjectsOnAdvancedFilterChange)="getProjectsOnAdvancedFilterChangeHandler($event)"
  (getAllocationsSortedBySelectedValueEmitter)="getAllocationsSortedBySelectedValueHandler($event)"
  (getResourcesOnAdvancedFilterChange)="getResourcesOnAdvancedFilterChangeHandler($event)"
></div>

<!-- filter | quick add sections -->
<div class="filter-search">
  <!-- filter section -->
  <div class="filters">
    <!-- toggle menubar -->
    <button
      class="menu-item"
      ngbPopover="Toggle menu"
      (click)="isMenuOpen = !isMenuOpen"
      triggers="mouseenter:mouseleave"
      container="body"
      popoverClass="staffing-page-popover"
    >
      <i class="fas fa-filter"></i>
    </button>

    <!-- toggle date picker -->
    <div class="menu-item"
         ngbPopover="Show calendar"
         triggers="mouseenter:mouseleave"
         container="body"
         popoverClass="staffing-page-popover">
      <span class="input-date" id="date-picker-icon" (click)="dp.toggle()"  [attr.aria-expanded]="dp.isOpen" >
        <i class="fas fa-calendar-day"></i>
      </span>
      <input
        type="text"
        id="date-range-calendar"
        name="daterange"
        readonly
        class="form-control"
        #dp="bsDaterangepicker"
        bsDaterangepicker
        [bsConfig]="bsConfig"
        [ngModel]="selectedDateRange"
        (ngModelChange)="getProjectsandResourcesforSelectedDateRange($event)"
      />
      
    </div>

    <!-- expand / collapse all -->
    <div class="expand-all">
      <button class="historical-demand-button" (click)="collapseNewDemandAllHandler()">
        <span>{{ collapseNewDemandAll ? 'Expand' : 'Collapse' }} All</span>
        <i class="fas fa-chevron-{{ collapseNewDemandAll ? 'down' : 'up' }}"></i>
      </button>
    </div>

    <!-- toggle quick add -->
    <button
      class="menu-item primary"
      ngbPopover="Quick Add a new placeholder"
      triggers="mouseenter:mouseleave"
      container="body"
      popoverClass="staffing-page-popover"
      (click)="openQuickAddFormHandler($event)"
    > 
      <i class="fas fa-user-plus"></i>
      <span>Quick Add</span>
    </button>
  </div>

  <!-- Switch CTA -->
<label class="switch-cta">
  <input id="groupType" type="checkbox" (change)="OnWeeklyOrDailyToggle($event)" />
  <span class="slider">
    <div>Weekly View</div>
    <div>Daily View</div>
  </span>
</label>

  <!-- search section -->
  <div class="search-wrapper input-group">
    <!-- <span
      class="input-group-text"
      id="basic-controls1"
      ><i class="fas fa-search"></i
    ></span> -->
    <!-- update the search input button below to add a toggle button with labels resource and case to the left on input. The toggle should feel part fo search button -->
    <label class="input-group-text switch-cta search-box">
      <input id="groupType" type="checkbox" (change)="onSearchModeToggle($event)" [disabled]="!isSearchEnabled"/>
      <span class="slider">
        <div>Search All</div>
        <div>Search Supply</div>
      </span>
    </label>
    
    <input
      type="text"
      placeholder="Search resources using descriptive text. Input 'must haves' ; 'nice to haves.' ENTER key to search."
      class="form-control"
      aria-describedby="basic-controls1"
      autocomplete="off"
      spellcheck="false"
      [disabled]="!isSearchEnabled"
      [(ngModel)]="searchString"
      (keyup.enter)="onEnterKeyPressed($event)"
    />

    <!-- clear input -->
    <span
      style="cursor: pointer"
      class="input-group-text"
      id="basic-controls1"
      *ngIf="searchString.length >= 1"
      (click)="clearSearch()"
      ><i class="fas fa-times"></i
    ></span>

    <div
      class="search-results-wrapper"
      *ngIf="showSearchResultsWrapper"
    >
      <!-- if loading / no results -->
      <ng-container>
        <mat-spinner
          *ngIf="showResourceLoader"
          [diameter]="20"
        ></mat-spinner>
        <span *ngIf="!searchResults.length">{{ showNoResourcesMessage }}</span>
      </ng-container>

      <!-- list resources -->
      <app-search-results
        style="width: 100%"
        *ngFor="let document of searchResults"
        [searchDocument]="document"
        (openResourceDetailsDialog)="openResourceDetailsDialogHandler($event)"
      >
      </app-search-results>
    </div>
  </div>
</div>
