// groups-list.component.scss
.group-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #f7f9ff;
    color : black;
   
}

th {
    background-color:  #f7f9ff;
    font-weight: 600;
}

tr:hover {
    background-color:  #f7f9ff;
}


.btn-delete {
    padding: 0 0.25rem;
    font-size: 12px;
    border-color: #c4c3c3;
    color: #cc0000;
    margin-top: 5px !important;

    &:hover {
        background-color: #fff;
        border-color: #cc0000;
    }

    &:active {
        background-color: #fff !important;
        border-color: #cc0000;
        color: #cc0000 !important;
    }


}

.btn-delete-outline {
    background-color: #cc0000;
    color: #fff;
}