<div
  class="weekly-resource-wrapper"
  style="height: 100%"
>
  <div
    *ngFor="let data of filteredResourceGroupsToShowInBuckets; let weekIndex = index; trackBy: trackByFn"
    class="week-wrapper resource-view column-{{ weekIndex + 1 }}"
    [ng-reflect-scroll-window]="true"
    infiniteScroll
    [infiniteScrollDistance]="0"
    [scrollWindow]="false"
  >
    <home-resources
      style="width: 100%"
      [filteredResourceGroups]="data.resourceGroups"
      (resourceSelectedEmitter)="resourceSelectedEmitterHandler($event)"
    ></home-resources>
    <!-- <home-resources
      style="width: 100%"
      [filteredResourceGroups]="data.resourceGroups"
      [selectedViewingGroup]="selectedViewingGroup"
    ></home-resources> -->
  </div>
</div>
