<app-notification-banner [sharedNotes] = "sharedNotes" [caseIntakeAlerts] = "caseIntakeAlerts" [projectIdentifiers] = "projectIdentifiers"
[historicalProjectIdentifiers] = "historicalProjectIdentifiers" [planningCardIds] = "planningCardIds"></app-notification-banner>

<!-- main content -->
<mat-progress-bar
  mode="indeterminate"
  color="warn"
  *ngIf="!isSupplyLoaded || !isDemandLoaded"
></mat-progress-bar>
<main>
  <div class="staffing-wrapper">
    <div class="staffing-wrapper__content">
      <app-quick-filter
        [dateRange]="dateRangeForResourcesOrProjects"
        [isStaffedFromSupply] = "demandFilterCriteriaObj.isStaffedFromSupply"
        [clearEmployeeSearch]="clearEmployeeSearch"
        (openQuickAddForm)="openQuickAddFormHandler($event)"
        (getProjectsAndResourcesOnDateChange)="getProjectsAndResourcesOnDateChangeHandler($event)"
        (getProjectsOnAdvancedFilterChange)="getProjectsOnAdvancedFilterChangeHandler($event)"
        (getAllocationsSortedBySelectedValueEmitter)="getAllocationsSortedBySelectedValueHandler($event)"
        (getResourcesOnAdvancedFilterChange)="getResourcesOnAdvancedFilterChangeHandler($event)"
        (onToggleWeeklyDailyView)="toggleWeeklyDailyViewHandler($event)"
        (filterResourcesBySearchInSupply)="filterResourcesBySearchInSupplyHandler($event)"
        (clearSearchInSupplyMode)="clearSearchInSupplyModeHandler()"
      ></app-quick-filter>

      <!-- STAGE wrapper -->
      <div class="resource-case-wrapper" [class.collapsed]="isHistoricalDemandCollapsed" >

        <div id="historical-demand" [class.hidden]="isHistoricalDemandCollapsed" [ngClass]="expandPanelComplete ? 'w-100':''">
          <div class="week-wrapper">
            <span [hidden]="isHistoricalDemandCollapsed">Historical Demand</span>
            <!-- pin icon-->
             <!-- use expandPanelComplete property -->
            <button *ngIf="!expandPanelComplete" class ="pin-historical" title="Pin Project">
              <i
                  class="fas fa-thumbtack"
                  [ngClass]="isPinned ? 'pinned' : ''"
                  (click)="togglePin()"></i>             
            </button>

            <button [hidden]="expandPanelComplete" class="expand-collapse-historical" (click)="toggleHistoricalDemand()"
              [ngbPopover]="isHistoricalDemandCollapsed ? 'Expand Historical Demand' : 'Collapse Historical Demand'"
              popoverClass="staffing-page-popover" triggers="mouseenter:mouseleave"
              placement="left top-left bottom-left right top-right" container="body">
              <i class="fas {{ isHistoricalDemandCollapsed ? 'fa-arrow-right' : 'fa-arrow-left' }}"></i>
            </button>
          </div>

          <app-historical-demand [hidden]="isHistoricalDemandCollapsed" style="height: calc(100vh - 140px);"
            [isPdfExport]="isPdfExport"
            [expandPanelComplete]="expandPanelComplete"
            [dateRange]="dateRangeForResourcesOrProjects" [projects]="historicalProjects"
            [planningCards]="historicalPlanningCards"
            [highlightedResourcesInPlanningCards]="highlightedResourcesInHistoricalPlanningCards"
            [hideLoading]="isHistoricalDemandLoaded" (dateChangedEmitter)="getHistoricalDataOnDateChangeHandler($event)"
            (upsertResourceAllocationsToProjectEmitter)="upsertResourceAllocationsToProjectHandler($event)"
            (removePlaceHolderEmitter)="removePlaceHolderHandler($event)"
            (openPegRFPopUpEmitter)="openPegRFPopUpHandler($event)"
            (showQuickPeekDialog)="showQuickPeekDialogHandler($event)"
            (openCaseRollForm)="openCaseRollFormHandler($event)"
            (openPlaceholderForm)="openPlaceholderFormHandler($event)"
            (upsertPlaceholderEmitter)="upsertPlaceholderHandler($event)"
            (updatePlanningCardEmitter)="updatePlanningCardEmitterHandler($event)"
            (addProjectToUserExceptionHideListEmitter)="addProjectToUserExceptionHideListHandler($event)"
            (addProjectToUserExceptionShowListEmitter)="addProjectToUserExceptionShowListHandler($event)"
            (removeProjectFromUserExceptionShowListEmitter)="removeProjectFromUserExceptionShowListHandler($event)"
            (mergePlanningCardAndAllocations)="mergePlanningCardAndAllocationsHandler($event)"
            (removePlanningCardEmitter)="removePlanningCardEmitterHandler($event)"
            (sharePlanningCardEmitter)="sharePlanningCardEmitterHandler($event)"
            (openOverlappedTeamsForm)="openOverlappedTeamsFormHandler($event)"
            infiniteScroll [infiniteScrollDistance]="scrollDistance"
            (scrolled)="onActiveCasesScrolled()"
            (expandPanel)="expandPanel($event)">
          </app-historical-demand>
        </div>

        <app-stage
          id="stage-wrapper"
          [userPreferences]="userPreferences"
          [projects]="projects"
          [caseTypes]="caseTypes"
          [planningCards]="planningCards"
          [availableResources]="availableResources"
          [supplyFilterCriteriaObj]="supplyFilterCriteriaObj"
          [groupingArray]="groupingArray"
          [highlightedResourcesInPlanningCards]="highlightedResourcesInPlanningCards"
          [selectedGroupingOption]="selectedGroupingOption"
          (upsertResourceAllocationsToProjectEmitter)="upsertResourceAllocationsToProjectHandler($event)"
          (removePlaceHolderEmitter)="removePlaceHolderHandler($event)"
          (openPegRFPopUpEmitter)="openPegRFPopUpHandler($event)"
          (showQuickPeekDialog)="showQuickPeekDialogHandler($event)"
          (openCaseRollForm)="openCaseRollFormHandler($event)"
          (openPlaceholderForm)="openPlaceholderFormHandler($event)"
          (upsertPlaceholderEmitter)="upsertPlaceholderHandler($event)"
          (updatePlanningCardEmitter)="updatePlanningCardEmitterHandler($event)"
          (mergePlanningCardAndAllocations)="mergePlanningCardAndAllocationsHandler($event)"
          (addProjectToUserExceptionHideListEmitter)="addProjectToUserExceptionHideListHandler($event)"
          (addProjectToUserExceptionShowListEmitter)="addProjectToUserExceptionShowListHandler($event)"
          (removeProjectFromUserExceptionShowListEmitter)="removeProjectFromUserExceptionShowListHandler($event)"
          (removePlanningCardEmitter)="removePlanningCardEmitterHandler($event)"
          (addPlanningCardEmitter)="addPlanningCardEmitterHandler($event)"
          (sharePlanningCardEmitter)="sharePlanningCardEmitterHandler($event)"
          (openOverlappedTeamsForm)="openOverlappedTeamsFormHandler($event)"
        ></app-stage>
      </div>
    </div>
  </div>
</main>
