// notification banner..
.notification-banner {
    align-items: center;
    background-color: #284ce0;
    color: #fff;
    display: flex;
    font-family: 'Graphik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    gap: 10px;
    height: 50px;
    justify-content: center;
    line-height: 16px;
    padding: 10px;

    // note icon
    .fa-sticky-note {
        font-size: 14px;
    }

    // btns
    &__cta {
        border: none;
        border-radius: 4px;
        font-weight: 500;
        line-height: 12px;
        margin: 0px;
        padding: 8px 20px;

        &.primary {
            background-color: #fff;
            color: #284ce0;
        }

        &.secondary {
            background: none;
            color: #fff;
            outline: 1px solid #fff;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }
}