<ng-select class="custom-dd large-select" name="resources" placeholder="Search resources..."
    [items]="resourcesData$ | async" 
    [multiple]="multiple" 
    [hideSelected]="true"
    [minTermLength]="3"
    bindLabel="employeeSearchData"
    [isOpen]="isResourceSearchOpen"
    [(ngModel)]="selectedResource"
    (search)="onResourceSearchChange($event)" 
    (change)="selectedResourcesChange($event)"
    (clear)="isResourceSearchOpen = false"
    #selectedResourceInput
>
    <ng-template ng-label-tmp let-item="item">
        {{ item.fullName }}
    </ng-template>
    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items">
            <span class="ng-value-icon left" (click)="clear(item)" aria-hidden="true">x</span>
            <span class="ng-value-label">
            {{item.fullName}}
            </span>
        </div>
        </ng-template>
    <ng-template ng-option-tmp let-item="item">
    {{item.fullName + ' (' + item.levelGrade+ ' - '+ item.schedulingOffice.officeName + ')'}}
    </ng-template>
</ng-select>
