<ng-select class="custom-dd large-select"
           name="resources"
           placeholder="Search Geographic Locations..."
           [items]="placesData$ | async"
           [multiple]="multiple"
           [typeahead]="placesInput$"
           [hideSelected]="true"
           [minTermLength]="3"
           bindLabel="full_path"
           [(ngModel)]="selectedPlace"
           (search)="onResourceSearchChange($event)"
           (change)="selectedResourcesChange($event)"
           (clear)="onClear()"
>
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
      <span class="ng-value-icon left" (click)="clear(item)" aria-hidden="true">x</span>
      <span class="ng-value-label">
            {{item.full_path}}
            </span>
    </ng-template>
    <ng-template ng-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items">
            <span class="ng-value-icon left" (click)="clear(item)" aria-hidden="true">x</span>
            <span class="ng-value-label">
            {{item.full_path}}
            </span>
        </div>
        </ng-template>
    <ng-template ng-option-tmp let-item="item">
    {{item.full_path }}
    </ng-template>
</ng-select>
