<div *ngIf="tableData?.length > 0">
    <table
        class="table about-table table-striped"
        #tableRef>     
        <thead class="thead-light">
            <tr>
                <ng-container *ngFor="let item of tableDef">
                    <th 
                        [ngClass]="{
                            'hidden-column-width hide-column': item.isVisible === false,
                            'export-to-mail': item.columnHeaderText === 'Notes',
                            'exclude-from-mail':item.excludeFromMail === true
                        }">
                        {{ item.columnHeaderText }} <i *ngIf="item.toolTipText" class="fas fa-info-circle info-icon-pad" title="{{ item.toolTipText }}"></i>
                    </th>
                </ng-container>
            </tr>
          </thead>
        <tbody>
         <tr *ngFor="let data of tableData" >
            <ng-container *ngFor="let item of tableDef">
                <td [ngClass]="[
                item.class ? item.class : '',
                item.excludeFromMail === true ? 'exclude-from-mail' : ''
            ]" 
                *ngIf="item.isVisible; else invisibleColumn">

                    <div *ngIf="item.columnMappingValue === 'delete'">
                        <i class="fas fa-trash-alt delete-icon red-delete-icon" (click)="deleteResource(data['employeeCode'])"></i>
                    </div>
                    <ng-container *ngIf="isDataAnArray(data[item.columnMappingValue]) ">
                        <div *ngFor="let value of data[item.columnMappingValue]">{{ value }}</div>
                    </ng-container>

                    <div *ngIf="isDataNotAnArray(data[item.columnMappingValue])">
                        <ng-container *ngIf="item.columnMappingValue === 'employeeName'">
                            {{ data[item.columnMappingValue] }}<br>
                            <a *ngIf="data['irisProfileUrl']" [href]="data['irisProfileUrl']" target="_blank">
                                (Link to Iris Profile)
                            </a>
                        </ng-container>
                        <ng-container *ngIf="item.columnMappingValue !== 'employeeName'">
                            {{ data[item.columnMappingValue] }}
                        </ng-container>
                    </div>
                  
                    <div *ngIf="isDataEmpty(data[item.columnMappingValue] ) && item.columnType != 'icon'">No data to show</div>
                </td>

                <!-- Hidden columns -->
                <ng-template #invisibleColumn>
                    <td
                        class="hidden-column-width hide-column"
                        [ngClass]="{ 'export-to-mail': item.columnMappingValue === 'notes' }">
                        {{ data[item.columnMappingValue] }}
                    </td>
                </ng-template>
            </ng-container>
           </tr>
         </tbody>
        </table>
</div>

<div *ngIf="tableData?.length === 0">
    <span>No Record(s) found</span>
</div>
