<div class="viewing-dropdown-menu">
  <p>Viewing:</p>

  <div class="btn-group">
    <!-- Dropdown Toggle -->
    <button aria-controls="viewing-group-picker" id="button-view-picker" (click)="toggleDropdownMenu()">
      <span>{{ selectedGroup.text }}</span>
      <i class="fas fa-chevron-down"></i>
    </button>

    <!-- Dropdown Container -->
    <form class="dropdown-menu" id="viewing-group-picker" [class.show]="isDropdownOpen">
      <!-- Search Input -->
      <div class="search-input-wrapper">
        <i class="fas fa-search"></i>
        <input type="search" placeholder="Search by group name" name="groupNameQuery" [(ngModel)]="groupNameQuery">
      </div>

      <!-- TODO: Change format to add vertical scrolling area -->
      <!-- Custom Groups -->
      <div *ngFor="let filterGroup of viewingOptions">
        <!-- Header -->
        <p class="section-header">My {{ filterGroup.filterGroupName }}</p>

        <ng-container *ngFor="let filterItem of filterGroup.items">
          <div class="dropdown-item" role="menuitem"
            *ngIf="groupNameQuery == '' || filterItem.text.toLowerCase().includes(groupNameQuery.toLowerCase())"
            [class.active]="filterItem.selected">
            <button class="group-label-cta" (click)="handleViewSelection(filterGroup, filterGroup.filterGroupId, filterItem)">{{
              filterItem.text
              }}
            </button>

            <!-- Is Default tag -->
            <span id="default-tag" *ngIf="filterItem.isDefault">Default</span>

            <!-- Edit -->
            <button class="edit-group-cta" *ngIf="filterGroup.filterGroupId != STAFFING_SETTINGS_FILTER_ENUM"
              (click)="handleGroupEditSelected(filterItem)">
              <i class="fas fa-pen"></i>
            </button>
          </div>
        </ng-container>
      </div>

      <div class="dropdown-divider"></div>

      <!-- Create New section -->
      <div class="dropdown-item create-new-cta" role="menuitem">
        <span>Create New</span>
        <i class="fas fa-chevron-right"></i>

        <div class="dropdown-menu dropdown-submenu">
          <button class="dropdown-item" (click)="handleCreateNewSelection(CUSTOM_GROUP_FILTER_ENUM)">Custom Group</button>
          <button class="dropdown-item" (click)="handleCreateNewSelection(SAVED_GROUP_FILTER_ENUM)">Saved Group</button>
        </div>
      </div>
    </form>
  </div>
</div>
