<div class="ai-chat-user" #scrollContainer [@fadeInSlow]="visibility">
  <ng-container *ngFor="let message of chatExample; let i = index">
    <div class="d-flex">
      <div  class="ai-icon" *ngIf="message.sender == 'ai' && !message.table && !message.loading">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.667 5.99984L13.5003 4.1665L15.3337 3.33317L13.5003 2.49984L12.667 0.666504L11.8337 2.49984L10.0003 3.33317L11.8337 4.1665L12.667 5.99984ZM7.66699 6.33317L6.00033 2.6665L4.33366 6.33317L0.666992 7.99984L4.33366 9.6665L6.00033 13.3332L7.66699 9.6665L11.3337 7.99984L7.66699 6.33317ZM12.667 9.99984L11.8337 11.8332L10.0003 12.6665L11.8337 13.4998L12.667 15.3332L13.5003 13.4998L15.3337 12.6665L13.5003 11.8332L12.667 9.99984Z" fill="#121212"/>
        </svg>
      </div>
      <div class="message-container w-100 d-flex" [ngClass]="{'justify-content-end': message.sender == 'user', 'justify-content-start': message.sender == 'ai'}">
        <div *ngIf="message.sender == 'user' && editableIndex !== i" (click)="setEditable(i, 'parentEl-' + i)" class="pencil-icon pt-3 pr-2">
          <i class="fa-solid fa-pencil"></i>
        </div>
        <div *ngIf="!message.table && !message.loading" [id]="'parentEl-' + i" [ngClass]="{'ai': message.sender == 'ai','user': message.sender == 'user', 'editing':editableIndex === i}">
  <span *ngIf="editableIndex !== i && !message.loading" class="chat">{{message.message[message.message.length - 1]}}</span>
  <div class="editable-container" [@expandEdit2]="{ value: '', params: { startWidth: startWidth, endWidth: 700 } }" [ngClass]="{'open': editableIndex === i}" *ngIf="editableIndex === i">
    <textarea type="text" [(ngModel)]="newMessage"></textarea>
    <div class="actions">
      <button class="cancel" (click)="cancelEdit()">Cancel</button>
      <button class="send" (click)="sendMessage(i)">Send</button>
    </div>
  </div>
</div>
      </div>
    </div>
    <div *ngIf="message.sender == 'ai' && !message.table && message.loading" [ngClass]="message.sender">
      <div class="loader" ></div></div>
    <div *ngIf="message.table && !message.loading" >
      <table>
        <tr class="header-table">
          <th>

          </th>
          <th *ngFor="let month of timeLine.months">
            {{month.name}}
          </th>
        </tr>
        <ng-container *ngFor="let resource of message.resources.resources; let k = index">
          <tr
              [ngClass]="{
      'animate-slide-in': resource.deleted && message.resources.showChanges,
      'animate_deleted': resource.deleted && !message.resources.showChanges
    }">
            <td class="resource-name-container p-0" [ngClass]="resource.deleted ? 'deleted_resource':''">
              <div class="m-0" [ngClass]="{'project':resource.type == 'project', 'resource':resource.type != 'project'}">
                <span class="name">{{resource.name}}</span>
                <span class="office ml-1">({{resource.office}})</span>
                <span class="type">({{resource.type}})</span>
              </div>
            </td>
            <td *ngFor="let month of timeLine.months; let j = index">
              <!-- Calculamos el índice base para este mes -->
              <ng-container *ngFor="let weekOffset of [0, 1, 2, 3]">
                <!-- weekNum es secuencial: 1,2,3,4,5,6,... -->
                <div class="table-cell"
                     [ngClass]="resource.startWeek">
                  <div class="info" *ngIf="(j * 4 + weekOffset + 1) == resource.startWeek"
                       (mouseenter)="idTooltip = k;"
                       (mouseleave)="idTooltip = null"
                       [ngStyle]="{
       'min-width': (58.2 * resource.length) + 'px',
       'height': '70%',
       'background-color': resource.filledColor,
       'transition': 'border-color 0.2s',
       'z-index': idTooltip === k ? 99 : '1',
       'border': idTooltip === k ? (
  (k >= 1 && k <= 4) ? '2px solid #8367E7' :
  (k >= 6 && k <= 9) ? '2px solid #4CAF50' :
  (k >= 11 && k <= 14) ? '2px solid #F95B3F' :
  'none'
) : 'none'
     }"
                  >
                    <app-resource-details-tooltip
  *ngIf="idTooltip == k && resource.type != 'project'"
  [data]="{
    resource: { name: 'Mock Resource', office: 'Sydney', type: 'resource' },
    startDate: 'Oct 02, 2024',
    endDate: 'Dec 31, 2024',
    resourceName: 'Jessie (C)',
    resourceLocation: 'Sydney',
    experience: 1,
    extraLang: 'French, Spanish',
    info: 'No travel',
    alertMessage: 'Vacation from 07-dec-2025 til 11-dec-2025 in x day(s)'
  }"
></app-resource-details-tooltip>
                    <span class="bookingType" *ngIf="resource.type == 'project'"> {{resource.bookingType}}</span>
                    <span class="alert-container" *ngIf="resource.alertMessage">
    <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5 9.5H11.5L6 0L0.5 9.5ZM6.5 8H5.5V7H6.5V8ZM6.5 6H5.5V4H6.5V6Z" fill="#D10001"/>
    </svg>
    <span class="alertMessage ml-1">{{resource.alertMessage}}</span>
  </span>
                  </div></div>
              </ng-container>
            </td>
          </tr>
        </ng-container>

      </table>
      <div class="action-container d-flex">
        <div *ngIf="message.resources.feedback != 'Bad'" (click)="message.resources.feedback = 'Good'" matTooltip="Good recommendation">
          <i [ngClass]="message.resources.feedback != 'Good' ? 'fa-regular': 'fa-solid'" class="fa-thumbs-up"></i>
        </div>
        <div *ngIf="message.resources.feedback != 'Good'" (click)="message.resources.feedback = 'Bad'" matTooltip="Bad recommendation">
          <i [ngClass]="message.resources.feedback != 'Bad' ? 'fa-regular': 'fa-solid'" class="fa-thumbs-down"></i>
        </div>
        <div>
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3767 6.31659C12.1144 3.17743 9.44747 0.699707 6.20147 0.699707C2.78182 0.699707 0 3.44715 0 6.82471C0 10.2015 2.78175 12.9497 6.20147 12.9497C8.48519 12.9497 10.5779 11.7158 11.6627 9.72856L10.6237 9.17443C9.7445 10.7831 8.05057 11.7824 6.2014 11.7824C3.43366 11.7824 1.18117 9.55842 1.18117 6.82474C1.18117 4.09106 3.43306 1.86641 6.20074 1.86641C8.77388 1.86641 10.8984 3.78927 11.1847 6.25717L10.4569 5.53829L9.62199 6.36287L11.811 8.52567L14 6.36287L13.1651 5.53829L12.3767 6.31659Z" fill="#284CE0"/>
          </svg>
          <span>Regenerate</span>
        </div>
        <div (click)="onShowChangesClick(i)" *ngIf="!message.resources.firstAnswer && message.resources.showChanges == false">
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.58301 0.75C4.68384 0.75 2.33301 3.10083 2.33301 6H0.583008L2.85217 8.26917L2.89301 8.35083L5.24967 6H3.49967C3.49967 3.7425 5.32551 1.91667 7.58301 1.91667C9.84051 1.91667 11.6663 3.7425 11.6663 6C11.6663 8.2575 9.84051 10.0833 7.58301 10.0833C6.45717 10.0833 5.43634 9.6225 4.70134 8.88167L3.87301 9.71C4.82384 10.6608 6.13051 11.25 7.58301 11.25C10.4822 11.25 12.833 8.89917 12.833 6C12.833 3.10083 10.4822 0.75 7.58301 0.75ZM6.99967 3.66667V6.58333L9.49634 8.065L9.91634 7.35917L7.87467 6.14583V3.66667H6.99967Z" fill="#284CE0"/>
          </svg>
          <span>Show Changes</span>
        </div>
        <div (click)="onHideChangesClick(i)" *ngIf="message.resources.showChanges == true">
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.58301 0.75C4.68384 0.75 2.33301 3.10083 2.33301 6H0.583008L2.85217 8.26917L2.89301 8.35083L5.24967 6H3.49967C3.49967 3.7425 5.32551 1.91667 7.58301 1.91667C9.84051 1.91667 11.6663 3.7425 11.6663 6C11.6663 8.2575 9.84051 10.0833 7.58301 10.0833C6.45717 10.0833 5.43634 9.6225 4.70134 8.88167L3.87301 9.71C4.82384 10.6608 6.13051 11.25 7.58301 11.25C10.4822 11.25 12.833 8.89917 12.833 6C12.833 3.10083 10.4822 0.75 7.58301 0.75ZM6.99967 3.66667V6.58333L9.49634 8.065L9.91634 7.35917L7.87467 6.14583V3.66667H6.99967Z" fill="#284CE0"/>
          </svg>
          <span>Hide Changes</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
