.ai-chat-user{
  height: 75%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
  .loader {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    margin: auto;
    margin-top: 5px;
  }
  @keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
  }
  .editing{width: 700px;
    max-width: 700px;
    transition: width 1s ease;}
  .message-container{
    .pencil-icon{
      display: none;
    }
    &:hover{
      .pencil-icon{
        display: block;
        cursor: pointer;
      }
    }
    .editable-container {
      transition: height 0.3s ease, opacity 0.3s ease;
      height: 0;
      opacity: 0;
      overflow: hidden;
      &.open {
        height: auto;
        opacity: 1;
      }
    }
    .editable-container{
      width: 700px;
      transition: width 1s ease;
      textarea{
        border: none;
        background: transparent;
        width: 100%;
        resize: none;
        padding: 10px;
        &:focus, &:focus-visible{
          border: none;
          outline: none;
        }
      }
      .actions{
        display: flex;
        gap: 10px;
        justify-content: end;
        width: 100%;
        .cancel{
          border-radius: 3px;
          border: 1px solid #284CE0;
          padding: 5px 15px;
          color: #284CE0;
          background-color: transparent;
        }
        .send{
          background: #284CE0;
          border: 1px solid #284CE0;
          padding: 5px 15px;
          color: #fff;
          border-radius: 3px;
        }
      }
    }
  }
  .ai-icon{
    margin-top: 25px;
    margin-right: 5px;
  }
  .user{
    background: #E0E4E8;
    border-radius: 15px;
    width: fit-content;
    max-width: 900px;
    transition: width 1s ease;
    padding: 10px;
  }
  .ai{
    background: #DAE5FD;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
    min-width: 100px;
    min-height: 40px;
  }
  .chat{
    padding: 10px;
    color: #121212;

  }
  table{
    width: 100%;
  }
  /* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table {
  animation: fadeIn 1s ease-in-out;
  @keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideDown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 50px; /* adjust this value according to your content */
      opacity: 1;
    }
  }
  @keyframes slideUp {
    from {
      max-height: 50px;
      opacity: 1;
    }
    to {
      max-height: 0;
      padding: 0px;
      overflow: hidden;
      border: none;
      opacity: 0;
    }
  }
  @keyframes opacityTransation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  // Apply the animation conditionally
  tr {
    &.animate-slide-in {
      //display: block;
      *{
        animation: slideDown 1s ease-out;
      }
    }
    &.animate_deleted{
      *{
        animation: slideUp 1s ease-out;
        max-height: 0;
        padding: 0px;
        overflow: hidden;
        border: none;
        opacity: 0;
      }
      //display: none;

    }
  }
  @keyframes slideOutToBottom {
    from {
      transform: translateY(0%);
      //opacity: 1;
    }
    to {
      transform: translateY(100%);
      //opacity: 0;
    }
  }

  // Apply the animation conditionally
  tr {
    &.animate-slide-out {
      animation: slideOutToBottom 1s ease-out;
    }
  }
}
  .header-table{
    text-align: center;
    width: 100%;
    background: #ECF0FF;
    th{
      padding: 10px;
      color: #616568;
      font-size: 10px;
    }
    th:first-child{
      background: #fff;
    }
  }
  td, th{
    border-spacing: 0;
  }
  td{
    padding: 0px;
  }
  .table-cell{
    width: 58px;
    border-right: 1px solid #C2C9D1;
    border-bottom: 1px solid #C2C9D1;
    height: 37px;
    float: inline-start;
    display: flex;
    align-items: center;
    position: relative;
    .info{
      overflow: visible;
      z-index: 1;

    }
    .info:nth-child(2):hover,
    .info:nth-child(3):hover,
    .info:nth-child(4):hover,
    .info:nth-child(5):hover {
      border: 1px solid #8367E7;
      z-index: 99;
    }


    .bookingType{
      font-weight: 600;
      font-size: 10px;
      margin-left: 5px;
      color: #fff;
    }
    .alertMessage{
      font-size: 10px;
      color: var(--Text-text-primary, #1B1A1A);
    }
  }
  .resource-name-container{
    &.deleted_resource{
      background: #F5CCCC !important;
      .name{
        text-decoration: line-through !important;
        color: #CC0000 !important;

      }
    }
    width: 275px;
    .name{
      font-weight: 500;
      font-size: 12px;
      color: #284CE0;
    }
    .office{
      font-size: 10px;
      font-weight:400;
      color: var(--Text-text-secondary, #4B4949);
    }
    .type{
      font-size: 12px;
      color: #616568;
      font-weight: 400;

    }
    .project{
      background: #ECF0FF;
      border: none;
      padding: 6px 8px;

      .type{
        display: none;
      }
    }
    .resource{
      border-bottom: 1px solid #E0E4E8;
      border-left: 1px solid #E0E4E8;
      border-right: 1px solid #E0E4E8;
      padding: 6px 8px;

      .type{
        float: right;
      }
    }
  }
  .action-container{
    gap:10px;
    cursor: pointer;
    span, i{
      color: #284CE0;
      font-size: 12px;
      margin-left: 2px;
    }
    i{
      font-size: 14px;
    }
  }

}
