@use "sass:math";
@import "src\\assets\\scss\\variables.scss";

.project-view {
  border: 1px solid #e0e4e8;
  border-radius: 4px;
  font-family: "Graphik";
  overflow: hidden;
  height: 100%;

  .project-view-wrapper {
    border-left: 4px solid transparent;
    position: relative;
    height: 100%;

    &.accent-1 {
      border-left-color: #f8e256;
    }

    &.accent-2 {
      border-left-color: #ff8d5f;
    }

    &.accent-3 {
      border-left-color: #7597ff;
    }

    button {
      background: none;
      border: none;
      color: #616568;
      outline: none;
      padding: 0px;
      text-align: left;
      width: auto;
    }

    // add ellipsis
    .truncate-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // header
    .project-view-header {
      color: #616568;
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
      padding: 5px;
      position: relative;

      // action panel
      .action-panel-wrapper {
        align-items: center;
        background: #f0f2f3;
        // display: flex;
        height: 37px;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        top: 0px;
        transition: all 0.2s ease-in-out;
        display: none;
        overflow: hidden;
      }

      &:hover .action-panel-wrapper {
        // right: 0px;
        display: block;
      }

      .header-row {
        align-items: center;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);

        // client
        #client-name {
          color: #284ce0;
          font-weight: 500;
        }

        #bold-text {
          font-weight: 500;
        }

        .header-details {
          align-items: center;
          display: flex;
          gap: 10px;
        }
      }
    }

    .sku-details .col {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  
  .sku-details .title {
      margin-right: 10px; /* Adjust as needed for spacing between date and skuTerm */
  }
  
  .sku-term-container {
      max-width: 150px; /* Set your desired max-width */
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer; /* Add cursor pointer to indicate hover effect */
  }
  
  /* Optional: Show full text on hover */
  .sku-term-container:hover {
      white-space: normal;
      overflow: visible;
      text-overflow: unset;
  }  
  

    // dropzone
    .resource-drop-zone {
      border: 1px dashed #c2c9d1;
      border-radius: 4px;
      height: auto;
      min-height: 15px;
    }

    .expanded-card{
      min-height: 211px;
    }

    // content
    .project-view-content {
      border-top: 1px solid #e0e4e8;
      display: grid;
      gap: 5px;
      padding: 5px;

      // allocations
      .allocations-wrapper {
        color: #616568;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        font-weight: 400;
        gap: 5px;
        line-height: 14px;
        max-height: 200px;
        overflow: auto;
        padding: 2px 14px 2px 2px;
      }
    }

    // footer
    .project-view-footer {
      display: flex;
      width: 100%;

      button {
        display: flex;
        justify-content: center;
        padding: 2px 0px 4px;
        width: 100%;

        span {
          border: 1px solid #c2c9d1;
          width: 20px;
        }
      }
    }

    
  }
  
}

::ng-deep .note-popover-wrapper {
  background: #616568;
  max-width: 200px;
  width: fit-content;

  .arrow {
      display: none;
  }

  .popover-body {
      padding: 0px;

      .notes {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px;
          max-height: 150px;
          overflow-y: auto;
          overflow-x: hidden;

          .note-wrapper {
              color: #fff;
              font-family: "Graphik";
              font-size: 10px;
              line-height: 12px;

              p {
                  margin: 0px;

                  &.header {
                      font-weight: 500;
                  }
              }

              &__header {
                  align-items: center;
                  display: flex;
                  gap: 4px;
                  position: relative;

                  i {
                      font-size: 7px;
                  }
              }

              &__content {
                  margin-top: 4px;
              }
          }
      }
  }
}

i.not-case-roll {
  width: 12px;
  height: 12px;
  display: none;
  margin-right: math.div($base-padding, 4);
  top: 0px;
  position: relative;
  background-image: url("../../../../../assets/img/case-roll.png");
  background-size: contain;
  cursor: pointer;

  &:hover {
      background-image: url("../../../../../assets/img/case-roll-hover.png");
  }
}

i.case-roll {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: math.div($base-padding, 4);
  top: 0px;
  position: relative;
  background-image: url("../../../../../assets/img/case-roll.png");
  background-size: contain;
  cursor: pointer;

  &:hover {
      background-image: url("../../../../../assets/img/case-roll-hover.png");
  }
}

.action_icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-top: -1px !important;

  &--plum {
    background-color: plum;

    &:hover {
      color: $bain-red;
    }
  }
}

.sku-icon{
  color: #284ce0;
  cursor: pointer;
}

.row.no-gutters.sku-details{
  padding-top: 2px;
}

.peg-ringfence{

  .rf-overlay-icon-container{
      background-color: #f7f7f7;
  }
  .fence-icon {
      border: none !important;
      border-radius: 0 !important;
      opacity: 0.4 !important;
      width: 18px;
      height: 20px;
      vertical-align: middle;
      cursor: pointer;
  }
}
