<div class="project-view">
  <div
    class="project-view-wrapper"
    [ngClass]="{
      'accent-1': projectType === 'Opportunity',
      'accent-2': projectType === 'NewDemand',
      'accent-3': projectType === 'ActiveCase'
    }"
  >
    <!-- header -->
    <header class="project-view-header">
      <!-- action panel -->
      <div class="action-panel-wrapper">
        <app-project-action-panel
          [showEllipsis]="true"
          [showplaceholder]="true"
          [showCaseRoll]="projectType != 'Opportunity'"
          [isPinned]="project.isProjectPinned"
          [isCaseOnRoll]="project.caseRoll"
          [isSTACommitmentCreated] = "project.isSTACommitmentCreated"
          [emailTo]="activeResourcesEmailAddresses"
          [showQuickPeek]="true"
          (openQuickPeekIntoReosurcesCommitments)="quickPeekIntoResourcesCommitmentsHandler()"
          (caseRollEmitter)="onCaseRollHandler($event)"
          (shortTermAvailableCaseOppCommitmentEmitter) = "shortTermAvailableCaseOppCommitmentEmitterHandler()"
          (addPlaceHolderEmitter)="onAddPlaceHolderHandler($event)"
          (togglePinEmitter)="onTogglePinHandler($event)"
          (toggleHideEmitter)="onToggleHideHandler($event)"
        >
        </app-project-action-panel>
      </div>

      <!-- row 1 | client & opportunity -->
      <div class="header-row">
        <button
          class="truncate-text"
          id="client-name"
          (click)="openProjectDetailsDialogHandler(project)"
        >
          {{ project.clientName }}
        </button>

        <!-- opportunity/case name -->
        <span
          class="truncate-text"
          style="text-align: right"
          >{{  project.caseName ?? project.opportunityName }}
        </span>
      </div>

      <!-- row 2 | office, caseCode, dates, etc -->
      <div class="header-row mt-1">
        <div class="header-details">

          <div class="peg-ringfence">
            <a *ngIf="showPegRFIcon" title="PEG Opportunity Details"  class="rf-overlay-icon-container" (click)="openPegRFPopUpHandler()">
                <img src="assets/img/fence-icon.png" alt="PEG Opportunity Details" class="fence-icon" />
            </a>
          </div>

          <!-- Add/Edit Note Modal Trigger -->
          <button (click)="toggleNoteModal()" [style.color]="project.casePlanningViewNotes?.length ? '#cc0000' : '#616568'"
            [ngbPopover]="project.casePlanningViewNotes.length ? popoverContent : noContentPopover" popoverClass="note-popover-wrapper"
            triggers="mouseenter:mouseleave" placement="bottom-left bottom-right top-left top-right" container="body">
            <i class="fas fa-file-alt"></i>
          </button>

          <!-- Popover content -->
          <ng-template #popoverContent>
            <div class="notes">
              <div class="note-wrapper">
                <!-- Author, Date.. -->
                <div class="note-wrapper__header">
                  <i class="fas fa-user"></i>
                  <p class="header">{{ project.casePlanningViewNotes[0].createdByName }}</p>
                    <p >{{ project.casePlanningViewNotes[0].lastUpdated | date : "M/d/yy h:mm a" }}</p>
                </div>

                <!-- Content -->
                <div class="note-wrapper__content">
                  <p>{{ project.casePlanningViewNotes[0].note}}</p>
                </div>
              </div>
            </div>
          </ng-template>

          <!-- No Notes popover -->
          <ng-template #noContentPopover>
            <div class="notes">
              <div class="note-wrapper">
                <p class="header">There a 0 notes</p>
              </div>

              <div class="note-wrapper">
                <p>To add a new note, click the note icon.</p>
              </div>
            </div>
          </ng-template>

          <!-- SKU -->
          <span class="sku-icon">
            <i (click)="toggleSkuSizeDiv(project)" *ngIf="project.skuCaseTerms" class="fa fa-user mr-2"></i>
          </span>

          <!-- add persistent user -->
          <button *ngIf="project.allocatedResources?.length === 1 && project.startDate">
            <i
              class="fas fa-users action_icon action_icon--plum"
              ngbPopover="Add Persistent Team"
              triggers="mouseenter:mouseleave"
              container="body"
              popoverClass="staffing-page-popover"
              (click)="openPersistentTeamPopupHandler()"
            ></i>
          </button>

          <!-- office abbr -->
          <span
            id="bold-text"
            ngbPopover="Office: {{ project.managingOfficeAbbreviation }}"
            triggers="mouseenter:mouseleave"
            container="body"
            popoverClass="staffing-page-popover"
            >{{ project.managingOfficeAbbreviation }}</span
          >

          <!-- case code -->
          <span
            id="bold-text"
            *ngIf="project.oldCaseCode"
            ngbPopover="Case Code: {{ project.oldCaseCode }}"
            triggers="mouseenter:mouseleave"
            container="body"
            popoverClass="staffing-page-popover"
            >{{ project.oldCaseCode }}</span
          >

          <span
            id="bold-text"
            *ngIf="project.clientPriority"
            ngbPopover="Client Priority: {{ project.clientPriority }}"
            triggers="mouseenter:mouseleave"
            container="body"
            popoverClass="staffing-page-popover"
            >{{ project.clientPriority }}</span
          >


          <!-- probability -->
          <span
            id="bold-text"
            *ngIf="project.probabilityPercent"
            ngbPopover="Probability: {{ project.probabilityPercent }}%"
            triggers="mouseenter:mouseleave"
            container="body"
            popoverClass="staffing-page-popover"
            >{{ project.probabilityPercent }}%</span
          >
          
          <!-- case roll -->
          <span>
          <i *ngIf="projectType != 'Opportunity'" [ngClass]="project.caseRoll ? 'case-roll' : 'not-case-roll'"></i>
          </span>

          <!-- sta commitment -->
          <span>
            <i *ngIf="project.isSTACommitmentCreated" class="fa-regular fa-clipboard"></i>
          </span>

          <!-- pinned -->
          <span *ngIf="project.isProjectPinned">
            <i class="fas fa-thumbtack"></i>
          </span>
        </div>

        <span
          class="truncate-text"
          style="text-align: right"
        >
          {{ project.startDate | date : "dd-MMM-yyyy" }} - {{ project.endDate | date : "dd-MMM-yyyy" }}
        </span>
      </div>

      <div *ngIf="showSKUTerms && project.skuCaseTerms" class="row no-gutters sku-details" [class.active]="showSKUTerms">
        <div class="col">
            <span class="title">
                {{project.skuCaseTerms.effectiveDate | date : "dd-MMM-yyyy"}}:
            </span>
            <div class="sku-term-container" title="{{skuTerm}}">
                {{skuTerm}}
            </div>
        </div>
    </div>

    </header>

    <!-- content -->
    <div class="project-view-content pdfExportScrollableContainer" [ngClass]="expandedCompleteScreen && !collapseAll ? 'expanded-card':''">
      <!-- drop zone for regular allocations when project has no allocations-->
      <div *ngIf="!project.allocatedResources.length || collapseAll"
        class="resource-drop-zone mb-2"
        cdkDropList [cdkDropListData]="project.allocatedResources" (cdkDropListDropped)="onResourceDrop($event)"
      ></div>

      <!-- placeholder allocations -->
      <div
        *ngIf="project.placeholderAllocations.length && !collapseAll"
        class="allocations-wrapper placeholder__list"
      >
        @for (placeholderAllocation of project.placeholderAllocations; track placeholderAllocation.id; let index = $index) {
          <div 
            class="placeholder__list"
            style="display: flex; width: 100%"
            [project]="project"
            (confirmPlaceholderAllocationEmitter)="confirmPlaceholderAllocationHandler($event)"
            (upsertResourceAllocationsToProject)="upsertResourceAllocationsToProjectHandler($event)"
            (upsertPlaceholderAllocationEmitter)="upsertPlaceholderAllocationHandler($event)"
            (removePlaceHolder)="removePlaceHolderEmitterHandler($event)"
            (tabbingFromAllocation)="tabbingFromAllocationHandler($event)"
            (tabbingFromEndDate)="tabbingFromEndDateHandler($event)" #projectResourceComponent app-project-resource
            [placeholderAllocation]="placeholderAllocation"
            [projectResourceComponentIndex]="index"
          ></div>
        }
        

        <!-- drop zone for placeholder allocations -->

      </div>

      <!-- resource allocations -->
      <div
        *ngIf="project.allocatedResources.length && !collapseAll"
        class="allocations-wrapper allocation__list"
        cdkDropList [cdkDropListData]="project.allocatedResources"
        (cdkDropListDropped)="onResourceDrop($event)"
      >
        @for (allocatedResource of project.allocatedResources; track allocatedResource.id;  let index = $index) {
          <div
            class="row no-gutters project-index-{{ projectIndex }}  project-resource-preview-wrapper"
            style="display: flex;" [sytle.width]= "allocatedResource.allocation"
            #projectResourceComponent
            app-project-resource
            [userAllocation]="allocatedResource"
            [projectResourceComponentIndex]="index"
            [cdkDragData]="allocatedResource"
            cdkDrag
            [cdkDragDisabled]="!allocatedResource.id"
            (tabbingFromAllocation)="tabbingFromAllocationHandler($event)"
            (tabbingFromEndDate)="tabbingFromEndDateHandler($event)"
            (upsertResourceAllocationsToProject)="upsertResourceAllocationsToProjectHandler($event)"
            (upsertPlaceholderAllocationEmitter)="upsertPlaceholderAllocationHandler($event)"
          ></div>
        }
       
      </div>
    </div>
  </div>
</div>
