@import "variables";
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%common-select-input {
  height: 38px;
  display: block;
  padding: .375rem 2.25rem .375rem .75rem;
  color: #6f6f6f;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.intakeform-container{
  background-color: #fff;
}
.intake-form {
  width: 93%;
  margin: auto;
  padding: 45px 0;
  background-color: #fff;
  height: 100vh; // TODO: DELETE
  overflow-y: scroll; // TODO: DELETE
}

.title-section {
  @extend %flex-center;
  justify-content: space-between;
  width: 219px;
  height: 38px;
  padding: 4px;
  padding-right: 8px;
  gap: 8px;
  border-radius: 8px;

  h2 {
    font-size: 24px;
    color: $black-light;
    margin: 0;
  }
}

.sect-number, .tag-section {
  @extend %flex-center;
  color: #000;
  background-color: #F8E256; // default for .sect-number
  width: 77px; // default for .sect-number
  height: 24px; // default for .sect-number
  font-size: 12px; // default for .sect-number
  padding: 4px 8px;
  border-radius: 4px; // default for .sect-number
  font-family: Graphik;
  &.tag-section {
    background-color: #BFC9F6;
    width: 120px;
    height: 28px;
    border-radius: 4px 18px 0 0;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}
.weighed{
  font-weight: 500;
}
hr {
  margin: 30px 0;
  border: 1px solid #E0E4E8;
}

.w-40, .w-60 {
  width: 40%; // default for .w-40

  &.w-60 {
    width: 60%;
  }
}

.double-input-container {
  @extend %flex-center;
  gap: 30px;
  justify-content: space-between;
  width: 100%;

  .dropdown, .input-control {
    width: 100%;
    gap: 10px;

    label {
      width: 100%;
    }

    &.dropdown select, &.input-control input {
      @extend %common-select-input;
    }

    .large-select {
      width: 97%;
    }

    .small-select {
      width: 90%;
    }

    .medium-select {
      width: 95%;
    }
  }
}

.text-area-takein, .input-control input {
  @extend %common-select-input;
  width: 100%;
  height: 60px;
}

.form-container {
  margin-top: 10px;
  @extend %flex-center;
  flex-direction: column;
}

.modified-user, .content-actions {
  @extend %flex-center;
  gap: 8px;
}

.modified-user span {
  margin-right: 5px; /* Add a margin to separate the icon from the username */
  width: 100%;
}

.user-name-form, .text-black-12, .text-gray-12 {
  font-size: 12px;
  line-height: 16px;
  color: $black-light; // default for .text-black-12

  &.text-gray-12 {
    color: $text-dark;
  }
}

.details-staff .title-section {
  width: 350px;
}

.content-resource, .add-resource {
  width: 410px;
  border: 1px solid #E0E4E8; // default for .content-resource
  border-radius: 4px; // default for .content-resource
  padding: 24px 16px;
  gap: 15px;
  @extend %flex-center;
  flex-direction: column;

  &.add-resource {
    border-style: dashed;
    background-color: #F7F9FF;
    min-height: 183px;
    margin-top: 15px;
  }
  .dropdown{
    width: 100%;
    label{
      width: 100%;
    }
  }
}
input, textarea, ng-select{
  font-family: Graphik;
  font-size: 12px;
  font-weight: 400;
  min-height: 36px;
}
label{
  //styleName: Label/Small;
  font-family: Graphik;
  font-size: 10px;
  font-weight: 500;
}
.remove-btn, .content-actions {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 14px; // default for .remove-btn
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: #284CE0;
}


::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  background-color: #ECF0FF !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  height: 24px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 39px;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.custom-dd ::ng-deep .ng-select-container{
  //font-size: 14px;

  .ng-placeholder {
    top: 7px !important;
  }

  .ng-value.ng-star-inserted, .ng-value {
    background-color: #ECF0FF !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    height: 24px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 39px;
    justify-content: space-around;
    align-items: center;
    text-align: left;

    .checked {
      display: none;
    }

    .ng-value-icon, .remove-icon {
      border: none;
      background-color: #A2BEFA;
      color: #fff;
      border-radius: 55px;
      vertical-align: middle;
      height: 17px;
      text-align: center;
    }
  }


}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked:nth-child(odd) {
  color: #000 !important;
  background-color:  #F7F9FF !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 8px;
    box-sizing: border-box;
    transition: background-color 0.3s, border-color 0.3s;
  }
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked:nth-child(even) {
  color: #000 !important;
  background-color: #fff !important;
}

.custom-dd ::ng-deep .ng-dropdown-panel {
  .ng-dropdown-panel-items {

    .ng-option-selected {

      color: #000 !important;
      &:nth-child(odd){
        background-color: #F7F9FF !important;
      }
      &:nth-child(even){
        background-color: #fff !important;
      }
      &::before{
        background-color: #007bff;
        border-color: #007bff;
      }
      &::after{
        content: '';
        position: absolute;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        left: 17px;
      }
      span{
        font-weight: 400;
      }

      .ng-option-label > .checked {
        margin-right: 10px;
        background: #284CE0;
        border: 1px solid #284CE0;
        border-radius: 3px;
        padding-left: 5px;
        padding-right: 6px;
        color: #fff;
        width: 15px;
        height: 15px;
        font-size: 10px;
        display: flex;
        justify-content: center;
      }
    }

    .ng-option:nth-child(odd) {
      background-color: #F7F9FF;
    }
    .ng-option-label {
      display: flex;
      align-items: center;
      font-weight: 400 !important;
      .checked {
        width: 15px;
        height: 15px;
        border: 1px solid $black-light;
        border-radius: 3px;
        padding-left: 5px;
        padding-right: 6px;
        color: #fff;
        margin-right: 10px;
        font-size: 10px;
        display: flex;
        justify-content: center;
      }
    }
  }

}

//Todo : this is copied from leadership, will need cleanup of unused css

.content-leadership {
  border: 1px solid #E0E4E8;
  border-radius: 4px;
  width: 407px;
  display: flex;
  justify-content: space-around;
  height: 107px;
  padding: 24px 16px 24px 16px;
  gap: 24px;

  h5 {
    margin-top: 0px;
  }

  p {
    font-size: 14px;
    color: $text-darker;
  }
  input{
    border: 1px solid #ced4da;
  };
}

.inf-container {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  .red-ball{
    height: 24px;
    width: 24px;
    background-color: $bain-red;
    border: none;
    border-radius: 50px;
  }
  h3{
    font-size: 24px;
    color: #000;
  }
  .user-actions {
    float: right;
    font-family: Graphik, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: #284CE0;
    margin-top: auto;
    height: 100%;
    display: flex;

    align-items: center;
    margin-left: 24px;

    div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .d-flex {
    display: flex;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .align-items-center {
    align-items: center;
  }


  .inf-update {
    float: right;
    width: 450px;
    color: $text-dark;
    height: 45px;
    padding: 8px 12px 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    background-color: #F7F9FF;
    font-size: 14px;
    border-radius: 50px;
  }
}
.weighed  {
  font-weight: 500;
}
// Case info section
.case-info-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e0e4e8;
    border-radius: 4px;
    background-color: #fff;
    font-family: Graphik, sans-serif;

    .case-info {
      display: flex; /* Use flexbox */
      justify-content: space-between; /* Ensure equal spacing */
      flex-wrap: wrap; /* Allow wrapping if necessary */
      font-size: 14px;
      color: $text-darker;

      div {
        margin-bottom: 10px;
        white-space: nowrap; /* Prevent text from wrapping */
      }
    }
  }

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.feedback-comments-container {
  float: right;
  font-size: 20px;

  .fa-circle-question {
    color: $black-light;
    font-size: 24px;
  }
}