// Recent CD Wrapper
.recent-cd-wrapper {
    border: 1px solid #e0e4e8;
    box-sizing: border-box;
    max-height: 999px;
    transition: all 0.2s ease-in-out;
    font-size: x-small;
  
    &.collapsed {
      max-height: 18px;
      overflow: hidden;
    }
  
    button {
      background-color: transparent;
      border: none;
      color: #616568;
      height: 16px;
      padding: 0px;
      width: 16px;
  
      &.expand-collapse-recent-cd {
        color: #284ce0 !important;
  
        &.collapsed i {
          transform: rotate(180deg);
        }
  
        i {
          transition: all 0.2s ease-in-out;
        }
      }
    }
  
    // Recent CD Header
    .recent-cd-header-wrapper {
      align-items: center;
      background-color: #ecf0ff;
      border-bottom: 1px solid #e0e4e0;
      display: flex;
      height: 18px;
      padding: 0px 7px;
      justify-content: space-between;
  
      .expand-collapse-recent-cd {
        display: none;
      }
  
      &:hover {
        .expand-collapse-recent-cd {
          display: block;
        }
      }
    }

    .recent-cd-wrapper .header-label {
        font-weight: 500;
        color: #616568; /* Matches Notes */
    }

    .recent-cd-content-wrapper .last-edited span {
        color: #616568; /* Consistent color with Notes */
        font-size: 9px;
    }
  
    // New Recent CD Wrapper
    .new-recent-cd-wrapper {
      padding: 6px;
  
      &.hidden {
        display: none;
      }
  
      .new-recent-cd-content {
        border: 1px solid #284ce0;
        border-radius: 4px;
        box-shadow: 0px 0px 4px rgba(117, 151, 255, 1);
        height: auto;
        margin-bottom: 6px;
        padding: 4px;
  
        textarea {
          border: none;
          color: #616568;
          font-size: 10px;
          font-weight: 400;
          line-height: 12px;
          min-height: 20px;
          outline: none;
          width: 100%;
  
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
  
      .new-recent-cd-ctas {
        display: flex;
        justify-content: space-between;
  
        button {
          align-items: center;
          background: none;
          border: none;
          border-radius: 2px;
          display: flex;
          font-size: 8px;
          font-weight: 500;
          gap: 3px;
          height: 20px;
          line-height: 10px;
          width: auto;
  
          &.primary {
            background-color: #284ce0;
            color: #fff;
            padding: 0px 10px;
  
            &:disabled {
              opacity: 0.5;
            }
          }
  
          &.secondary {
            background-color: #f0f2f3;
            color: #616568;
            padding: 0px 6px;
          }
        }
      }
    }
  
    .recent-cd-content-wrapper {
      background-color: #fff;
      border-top: 1px solid #e0e4e8;
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 150px;
      overflow-y: auto;
      padding: 7px 5px 7px 7px;
  
      .last-edited {
        span {
          font-size: 9px;
          height: auto;
        }
  
        i {
          font-size: 7px;
        }
        .edit {
          margin-left: 10px;
          padding: auto;
        }
        .delete {
          margin-left: 4px;
          padding: auto;
        }
      }
  
      .recent-cd-content {
        margin-top: 4px;
        width: 100%;
  
        p {
          margin: 0;
        }
  
        & * {
          border: none;
          color: #616568;
          outline: none;
        }
      }
    }
  }

  .recent-cd-header-wrapper .recent-cd-container {
    color: #616568; 
    font-weight: 450;
}
  