.tooltip{
  opacity: 1;
  bottom: -270px;
  left: 100px;
  width: 269px;
  height: 276px;
  padding: 12px;
  gap: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px #00000026;
  .matching-resource{
    background: #F95B3F;
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
  }
  .label-side{
    color: #616568;
    font-size: 12px;
    width: 125px;
  }
  .opt-side{
    color: #000000;
    font-size: 12px;
  }
  .alert-container{
    background: #F0F2F3;
    border-radius: 4px;
  }
  .bookingType{
    font-weight: 600;
    font-size: 10px;
    margin-left: 5px;
    color: #fff;
  }
  .alertMessage{
    font-size: 10px;
    color: var(--Text-text-primary, #1B1A1A);
  }
}
