<div class="tooltip">
  <div class="matching-resource">
    Matching resource: {{ data.resource.name }}
  </div>
  <div class="d-flex pt-1 pb-2"><div class="label-side">Start date</div><span class="opt-side">{{ data.startDate }}</span></div>
  <div class="d-flex pb-2"><div class="label-side">End date</div><span class="opt-side">{{ data.endDate }}</span></div>
  <div class="d-flex pb-2"><div class="label-side">Resource</div><span class="opt-side">{{ data.resourceName }}</span></div>
  <div class="d-flex pb-2"><div class="label-side">Resource location</div> <span class="opt-side">{{ data.resourceLocation }}</span></div>
  <div class="d-flex pb-2"><div class="label-side">Experience</div><span class="opt-side">{{ data.experience }}</span></div>
  <div class="d-flex pb-2"><div class="label-side">Extra Lang</div><span class="opt-side">{{ data.extraLang }}</span></div>
  <div class="d-flex pb-1"><div class="label-side">Info</div><span class="opt-side">{{ data.info }}</span></div>
  <div class="alert-container" *ngIf="data.alertMessage">
    <div class="ml-1">
      <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 9.5H11.5L6 0L0.5 9.5ZM6.5 8H5.5V7H6.5V8ZM6.5 6H5.5V4H6.5V6Z" fill="#D10001"/>
      </svg>
      <span class="alertMessage ml-1">Alert</span>
    </div>
    <span class="alertMessage p-1">
      {{ data.alertMessage }}
    </span>
  </div>
</div>
