<div class="disclaimer-container">
    <div class="header">
      <h1>Staffing Insights Tool</h1>
    </div>
    <div class="content">
      <h2>Welcome to Bain’s Staffing Insights Tool!</h2>
      <p>
        Staffing is the act of deciding how we allocate resources in our business, and specifically, deciding the projects that individuals should work on. When staffing, we aim to optimize three sets of needs:
      </p>
      <ul>
        <li>Our clients’ needs (channeled through our case leadership teams)</li>
        <li>The PD needs of our individuals</li>
        <li>The needs of Bain as a business (at local, regional, and global level across all talent populations)</li>
      </ul>
      <p>
        The aim of this system is to improve the capture of PD & Staffing information to improve decision making. The better the information we have, the more we are able to optimize – however we cannot make any guarantees – we seek to balance case experiences over a multi-year period.
      </p>
      <h2>How to use this tool</h2>
      <ul>
        <li>Update your information ahead of PD/staffing conversations and as relevant changes occur.</li>
        <li>Please avoid disclosing sensitive personal details of any kind. Follow up with your local staffing team directly if needed.</li>
        <li>Any information you input to the tool will be immediately available to Bain staffing teams and may be shared with case LT per their discretion. Please reach out to your local staffing team with any questions.</li>
      </ul>
    </div>
    <button class="ok-button" (click)="setDisclaimerRead()">Ok</button>
</div>
  