<div class="demand-notes">
  <div class="demand-notes__wrapper">
    <!-- Header Section -->
    <div class="demand-notes__header">
      <h3>{{ cardData.name }}</h3>
     
      <button (click)="modalRef.hide()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <!-- shared notes component -->
    <app-shared-gantt-notes
      [notes]="casePlanningNotes"
      [isNotesReadonly]="isNotesReadonly"
      [rowIndex]="rowIndex"
      [hideAddNewNote]=false
      (upsertNote)="upsertCaseNotesHandler($event)"
      (deleteNotes)="deleteCaseNotesHandler($event)"
    ></app-shared-gantt-notes>
    <!-- shared notes component -->
  </div>
</div>