<div class="overflow-visited">
    <div>
      <div class="header-container">
        <div class="d-flex pb-1 align-items-center justify-content-between">
          <label class="m-0 p-0">
            <input [title]="role.name" (click)="$event.stopPropagation();" class="name-role-default ml-1" type="text" (input)="adjustWidth($event)" (keydown)="handleKeydown($event)"
            value="{{role.name ? role.name : 'New Role'}}" (change)="onRoleNameChange($event)">
          </label>
          <div class="d-flex align-items-center">
            <div>
              <div class='toggle'  (click)="setSelectedLead(role); $event.stopPropagation()" [ngClass]="role.isLead ? 'toggle-on' : ''">
                <div class='glow-comp'></div>
                <div class='toggle-text-lead'>Lead</div>
              </div>
            </div>
            <button class="remove-btn p-2">
              <button class="remove-btn remove-btn__from-workstream" (click)="removeResourceFromWorkstream(role);"><i class="fa-solid fa-trash"></i></button>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="content-resource" [ngClass]="renderInWorkstream ? 'border-0': ''">
      <div class="dropdown">
        <label>
          <div class="text-black-12">Service Line</div>
          <ng-select
            name="selectedServiceLine"
            [items]="serviceLine"
            [multiple]="false"
            bindLabel="serviceLineName"
            [(ngModel)]="role.selectedServiceLine"
            class="custom-dd"
            placeholder="Service Line"
            (ngModelChange)="onServiceLineChange($event)">
          </ng-select>
        </label>
      </div>
      <div class="dropdown">
        <label>
          <div class="text-black-12">Role</div>
          <ng-select
            name="role"
            [items]="positionGroups"
            [multiple]="false"
            bindLabel="positionGroupName"
            [(ngModel)]="role.selectedPositionGroup"
            class="custom-dd small-select"
            placeholder="Role"
            (ngModelChange)="onRoleChange($event)">
          </ng-select>
        </label>
      </div>
      <div class="dropdown">
        <label>
          <div class="text-black-12">Geographic Location of Work {{selectedPlace.length > 0 ? "(" + selectedPlace.length + ")" : ""}}</div>
          <shared-places-typeahed
            [multiple]="true"
            [selectedPlace]="selectedPlace"
            (onSearchItemSelect)="onSearchItemSelectHandler($event)"
          ></shared-places-typeahed>
        </label>
      </div>
      
        <div class="dropdown">
          <label>
            <div class="text-black-12 d-flex">Client Engagement Model</div>
            <ng-select name="clientEngagementModel" [items]="clientEngagementModel" [closeOnSelect]="true" [multiple]="false" class="custom-dd not-multiple "
                      [(ngModel)]="selectedClientEngagementModelObject" bindLabel="name"
                      placeholder="Select Engagement Model"
                      (ngModelChange)="onClientEngagementModelChange($event)">
            </ng-select>
          </label>
        </div>
        <div class="input-control-pleaseDescribe" *ngIf="selectedClientEngagementModelCodes === '5'">
          <label>
            <div class="text-black-12 d-flex">Please describe</div>
            <textarea maxlength="1000" class="text-area-takein" 
                  [(ngModel)]="selectedClientEngagementModel" 
                  name="describeOtherClientEngagementModel" 
                  placeholder="Please describe"
                  (change)="onDescribeOtherClientEngagementModelChange($event)">
            </textarea>
          </label>
        </div>
      <div class="dropdown">
        <label class="w-98">
          <div class="text-black-12 d-flex">
            <span class="mr-2">Helpful resource profile {{role.selectedExpertise.length > 0 ? "(" + role.selectedExpertise.length + ")" : ""}}</span>
          </div>
          <ng-select
            #expertiseSelect
            name="expertise"
            [items]="combinedExpertiseList"
            [closeOnSelect]="false"
            [multiple]="true"
            class="custom-dd "
            [(ngModel)]="role.selectedExpertise"
            bindLabel="expertiseAreaName"
            placeholder="Select Helpful resource profile"
            (ngModelChange)="onExpertiseChange($event)">
          </ng-select>
        </label>
      </div>
      <div class="dropdown">
        <label class="w-98">
          <div class="text-black-12 d-flex">
            <span class="mr-2">Languages {{role.selectedLanguages.length > 0 ? "(" + role.selectedLanguages.length + ")" : ""}}</span>
            <div class="d-flex color-hint-container">
              <div class="d-flex align-items-center">
                <div class="must-color mr-1"></div>
                <span>Must Have</span>
              </div>
              <div class="d-flex align-items-center">
                <div class="nice-to-have-color mr-1"></div>
                <span>Nice to have</span>
              </div>
            </div>
          </div>
          <ng-select
            name="languages"
            [items]="languages"
            [closeOnSelect]="false"
            [multiple]="true"
            class="custom-dd languages-selector"
            [(ngModel)]="role.selectedLanguages"
            bindLabel="name"
            placeholder="Select Languages"
            (ngModelChange)="onLanguageChange($event)">
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
              <span class="languages-label">Select Languages</span>
            </ng-template>
          </ng-select>
        </label>
        <div class="language-selection-container">
          <span class="header-label mx-1"><i class="fa fa-circle-info"></i> Click on the three dots to change priority or remove selection</span>
          <div class="d-flex flex-wrap selections">
            <ng-container *ngFor="let item of role.selectedLanguages">
              <div class="selection-container mt-1" [ngClass]="{'must-have': role.mustHaveLanguageCodes?.includes(item.id)}">
                <span class="ng-value-label ng-star-inserted">{{ item.name }}</span>
                <span class="ellipsis-btn" (click)="showTooltipLanguage(item, $event)"><i class="fa fa-ellipsis-vertical"></i></span>
                <!--<span aria-hidden="true" class="remove-icon" (click)="removeSelectedLanguage(item, $event)">×</span>-->
                <div class="tooltip-selection" *ngIf="activeToolTipLanguage == item.name" [ngStyle]="{'top.px': topTooltipStyle, 'left.px': leftTooltipStyle, 'position': 'fixed'}">
                  <div class="hidden-overlay" (click)="closeTooltipLanguage();"></div>
                  <div>
                    <div class="d-flex align-items-center ml-2 pointer-cursor" (click)="setMustHaveLanguage(item); $event.stopImmediatePropagation()"><div class="opt opt-must-have mx-1 my-2 mt-3" ></div> <span class="pl-1">Must Have</span></div>
                    <div class="d-flex align-items-center ml-2 pointer-cursor" (click)="removeMustHaveLanguage(item); $event.stopImmediatePropagation()"><div class="opt opt-nice-to-have mx-1 my-3" ></div> <span class="pl-1">Nice to have</span></div>
                    <div class="my-1 pointer-cursor remove-btn__from-workstream mx-4" (click)="removeSelectedLanguage(item, $event)"><span>Remove</span></div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </div>
      <div class="w-100 d-flex">
        <div (click)="addSharableRol()" *ngIf="role.roleDescription == null; else addSharableRoleBtn"
             class="content-actions"><i class="fa fa-plus"></i> <span>Add sharable role description </span>
        </div>
      </div>
      <ng-template #addSharableRoleBtn>
        <div class="w-100">
          <label class="w-100">
            <div class="text-black-12">Sharable role description</div>
            <textarea maxlength="1000" class="text-area-takein" [(ngModel)]="role.roleDescription"
            (change)="onRoleDescriptionModelChange($event)"></textarea>
          </label>
        </div>
      </ng-template>
    </div>
  </div>
  <hr class="mb-3 mt-2" *ngIf="!renderInWorkstream">