<div class="historical-demand" id="historical-demand-wrapper">
  <div class="tabs-header-wrapper">
    <button *ngFor="let tab of demandTabs; let tabIndex = index" class="historical-demand-button tab"
      [class.active]="tab.active" (click)="handleTabChange(tabIndex)">{{
      tab.label }}</button>
  </div>

  <div [ngClass]="expandCompletePanel ? 'd-flex align-items-center':''">
    <!-- date range picker -->
    <div class="date-range-picker input-group" [ngClass]="expandCompletePanel ? 'date-input-expanded':''">
      <div class="input-group-prepend">
        <button id="btnDateShiftLeft" class="btn btn-secondary" (click)="shiftDateRange('left')">
          <i class="fa fa-chevron-left fa-fw"></i>
        </button>
      </div>
      <div class="input-group-prepend">
      <span class="input-group-text" id="date-picker-icon" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
        <i class="fa fa-calendar-alt ngx-daterangepicker-action fa-fw" aria-hidden="true"></i>
      </span>
      </div>

      <input type="text" id="date-range-calendar" name="daterange" readonly [ngModel]="selectedDate"
             (ngModelChange)="handleDateChange($event)" class="form-control" #dp="bsDaterangepicker" bsDaterangepicker
             [bsConfig]="bsConfig"
      >

      <div class="input-group-append">
        <button id="btnDateShiftRight" class="btn btn-secondary" (click)="shiftDateRange('right')"
                [disabled]="disableNextDateButton">
          <i class="fa fa-chevron-right fa-fw"></i>
        </button>
      </div>
    </div>

    <!-- collapse : !expandCompletePanel -->
    <!-- expand / collapse all -->
    <div class="expand-all" [ngClass]="expandCompletePanel ? 'expand-all-expanded':''">
      <button *ngIf = "expandCompletePanel" class="historical-demand-button pr-3 mr-auto" (click)="printPdfHandler()">
        <span>Export Data</span>
        <i class="fa fa-download"></i>
      </button>
      <button class="historical-demand-button pr-3" (click)="collapseAll = !collapseAll">
        <span>{{ collapseAll ? 'Show' : 'Hide' }} staffing details</span>
        <i class="fas fa-chevron-{{ collapseAll ? 'down' : 'up' }}"></i>
      </button>
      <button class="historical-demand-button" (click)="expandAndCollapsePanel()">
        <span>{{ !expandCompletePanel ? 'Expand' : 'Collapse' }} Panel</span>
        <i *ngIf="!expandCompletePanel" class="fas fa fa-up-right-and-down-left-from-center"></i>
        <i *ngIf="expandCompletePanel" class="fas fa fa-down-left-and-up-right-to-center"></i>
      </button>
    </div>
  </div>

  <!-- loading spinner -->
  <div class="cards-wrapper" *ngIf="!hideLoading">
    <div class="no-cards-found-wrapper">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
  </div>

  <ng-container *ngIf="hideLoading">
    <!-- planning cards -->
    <div class="cards-wrapper" [ngClass]="expandCompletePanel ? 'cards-wrapper-expanded':''" *ngIf="showPlanningCards">
      <!-- if no planning cards exist -->
      <ng-container *ngIf="planningCards && !planningCards.length">
        <div class="no-cards-found-wrapper">
          <span>No Planning Cards found</span>
        </div>
      </ng-container>
      <!-- if planning cards exist -->
      <ng-container *ngIf="planningCards && planningCards.length">
        <app-planning-card *ngFor="let planningCard of planningCards"
          id="{{ planningCard.id }}"
          [planningCard]="planningCard"
          [expandedCompleteScreen]="expandCompletePanel"
          [historicalPlanningCards]="planningCards"
          [highlightedResourcesInPlanningCards]="highlightedResourcesInPlanningCards"
          [collapseAll]="collapseAll"
          (mergePlanningcardToCaseOppEmitter)="mergePlanningcardToCaseOppEmitterHandler($event)"
          (openPegRFPopUpEmitter)="openPegRFPopUpHandler($event)"
          (upsertPlaceholderEmitter)="upsertPlaceholderHandler($event)"
          (removePlaceHolderEmitter)="removePlaceHolderHandler($event)"
          (updatePlanningCardEmitter)="updatePlanningCardEmitterHandler($event)"
          (showQuickPeekDialog)="showQuickPeekDialogHandler($event)"
          (removePlanningCardEmitter)="removePlanningCardEmitterHandler($event)"
          (sharePlanningCardEmitter)="sharePlanningCardEmitterHandler($event)"></app-planning-card>
      </ng-container>
    </div>

    <!-- projects -->
    <div class="cards-wrapper" [ngClass]="expandCompletePanel ? 'cards-wrapper-expanded':''" *ngIf="!showPlanningCards">
      <!-- if no projects exist -->
      <ng-container *ngIf="projects && !projects.length">
        <div class="no-cards-found-wrapper">
          <span>No Projects found</span>
        </div>
      </ng-container>
      <!-- if projects exist -->
      <ng-container *ngIf="projects && projects.length">
        <app-projectview *ngFor="let project of projects; let projectIndex = index" [project]="project"
          [projectIndex]="projectIndex" [collapseAll]="collapseAll" [expandedCompleteScreen]="expandCompletePanel"
          (showQuickPeekDialog)="showQuickPeekDialogHandler($event)"
          (openCaseRollForm)="openCaseRollPopUpHandler($event)"
          (openPlaceholderForm)="openPlaceholderFormHandler($event)"
          (upsertPlaceholderEmitter)="upsertPlaceholderHandler($event)"
          (removePlaceHolderEmitter)="removePlaceHolderHandler($event)"
          (openPegRFPopUpEmitter)="openPegRFPopUpHandler($event)"
          (tabbingFromAllocation)="tabbingFromAllocationHandler($event)"
          (tabbingFromEndDate)="tabbingFromEndDateHandler($event)"
          (addProjectToUserExceptionHideListEmitter)="addProjectToUserExceptionHideListHandler($event)"
          (addProjectToUserExceptionShowListEmitter)="addProjectToUserExceptionShowListHandler($event)"
          (removeProjectFromUserExceptionShowListEmitter)="removeProjectFromUserExceptionShowListHandler($event)"
          (upsertResourceAllocationsToProjectEmitter)="upsertResourceAllocationsToProjectHandler($event)"
          (openOverlappedTeamsPopup)="openOverlappedTeamsPopupHandler($event)"></app-projectview></ng-container>
    </div>
  </ng-container>
</div>
