<section class="resources-available-today">
  <!-- drop zone for when there is no data-->
  <div *ngIf="!resourceGroups?.length"
    class="resource-drop-zone mb-2"
    cdkDropList (cdkDropListDropped)="onResourceDrop($event)"
  ></div>

  <ng-container *ngIf="resourceGroups">
    <!-- if using viewing group -->
    <!-- <ng-container *ngFor="let resourceGroup of resourceGroups; let i = index">
      <div
        class="staff-group"
        *ngIf="usingViewingGroup(resourceGroup.groupTitle) && resourceGroup.resources.length > 0"
      >
        <div
          class="resources"
          [class.availableToday]="isAvailableToday"
          cdkDropList
          [cdkDropListData]="resourceGroup.resources"
          (cdkDropListDropped)="onResourceDrop($event)"
        >
          <app-resourceview
            style="width: 100%"
            id="{{ 'supplyAppResourceView_' + i + '_' + j }}"
            *ngFor="let resource of resourceGroup.resources; let j = index"
            [resource]="resource"
            cdkDrag
          >
          </app-resourceview>
        </div>
      </div>
    </ng-container> -->

    <!-- if no viewing group -->
    <!-- <ng-container *ngFor="let resourceGroup of resourceGroups; let i = index">
      <div
        class="staff-group"
        *ngIf="!viewingGroup && resourceGroup.resources.length > 0"
      >
        <div
          class="resources"
          [class.availableToday]="isAvailableToday"
          cdkDropList
          [cdkDropListData]="resourceGroup.resources"
          (cdkDropListDropped)="onResourceDrop($event)"
        >
          <app-resourceview
            style="width: 100%"
            id="{{ 'supplyAppResourceView_' + i + '_' + j }}"
            *ngFor="let resource of resourceGroup.resources; let j = index"
            [resource]="resource"
          >
          </app-resourceview>
        </div>
      </div>
    </ng-container> -->

    <!-- STAFF GROUP TODO: This would be removed once viewing group is applied and above code would be used-->
    <div *ngFor="let resourceGroup of resourceGroups; let i = index; trackBy: trackByResourceGroup" class="staff-group">
      <div class="resources" cdkDropList [cdkDropListData]="resourceGroup.resources" (cdkDropListDropped)="onResourceDrop($event)">
        <app-resourceview style="width: 100%" id="{{'supplyAppResourceView_' + i + '_'+ j}}"
          *ngFor="let resource of resourceGroup.resources; let j = index; trackBy: trackByResource" [resource]="resource" 
          (resourceSelectedEmitter)="resourceSelectedEmitterHandler($event)" cdkDrag>
        </app-resourceview>
      </div>
    </div>
   
    <!-- END STAFF GROUP-->
  </ng-container>
</section>
