.info-icon-modal {
    background-color: #e5e5e5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    min-width: 160px;
    padding: 20px;
    color: #3c3c3c;;
  
    // Header
    .modal-header {
      border-radius: 4px;
      height: 52px;
      padding: 0px 7px;
    }

    .modal-body {
        padding: 20px;
    }
}

.heading {
    white-space: pre;
    padding-right: 20px;
    vertical-align: top;
}

.commitments{
    display: grid; 
    display: inline-flex;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;  
    margin-bottom: 10px;
}

.cases {
	background-color: #b2e3ff;
}

.opps{
    background-color: #fae62a;
}

.planningCard{
    background-color: #65c16f;
    border-color: #3c9445;
    border-style : dotted;
}

.planningCardIncludeInCapacity{
     border-color: #a80000;
      border-style : dotted;
}

.loa {
	background-color: #feccff;
}

.vacationApproved {
	background-color: #bab6f5;
}
.vacationPending {
    background-color: #d9cef3;
}

.training {
	background-color: #ffccce;
}

.notBillable {
	background-color: #ffccce;
}

.recruiting {
	background-color: #ffeba6;
}

.shortTerm {
	background-color: #c7ffa6;
}

.notAvailable {
	background-color: #c7ffa6;
}

.limitedAvailability {
	background-color: #c7ffa6;
}

.downDay {
	background-color: #94B6CD;
}

.prePostRevenue{
    background-color: #b1b1b1;
}

.clientVariable{
    background-color: #a6fff0;
}

.internalPD{
    background-color: orange;
}
