<div class="case-planning-filter">
    <div class="left-side">
      <!--search input-->
      <div class="searchbar d-flex">
        <div class="searchbar__input mr-2">
          <div class="input-group-append" [class.input-group-append-focus]="projectSearchInputFocus">
            <span class="input-group-text search-icon-width">
              <i *ngIf="asyncProjectString.length < 3" class="fa fa-search fa-fw"></i>
              <i *ngIf="asyncProjectString.length > 2" class="fa fa-times" (click)="clearSearchBox()"></i>
            </span>
          </div>
  
          <input type="text" id="projectSearchInput" [(ngModel)]="asyncProjectString"
            [ngModelOptions]="{ standalone: true }" autocomplete="off" [typeahead]="searchedProjects"
            [typeaheadItemTemplate]="customProjectTypeAheadTemplate" typeaheadOptionField="projectName"
            [typeaheadOptionsLimit]="100" [typeaheadMinLength]="3" (typeaheadOnSelect)="typeaheadOnSelect($event)"
            [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="10" (focus)="projectSearchInputFocus = true"
            (blur)="projectSearchInputFocus = false; (null)" class="form-control border-right-0"
            placeholder="Search Case / Opps" typeaheadGroupField="projectStatus" #projectSearchInput />
        </div>
  
        <!--toggle filter panel-->
        <button class="filter-btn filter-cta" (click)="toggleFiltersSection()">
          <i class="fas fa-filter"></i>
        </button>
      </div>
  
      <!-- viewing group -->
      <!-- <app-viewing-dropdown-menu [viewingOptions]="displayGroups" (selectViewEmitter)="setSelectedViewingFilter($event)"
        (createNewEmitter)="handleCreateMoreSelection($event)"
        (editGroupEmitter)="handleEditGroupSelection($event, false)">
      </app-viewing-dropdown-menu> -->
  
      <!-- filter by demand type -->
      <div class="d-flex align-items-center demand-filter">
        <span class="mr-2">Filter by demand type</span>
        <app-multi-select-dropdown [title]="'Demand Status'" [dropdownList]="demandTypeList"
          [selectedItems]="selectedDemandTypeList" (refreshView)="getProjectsByDemandTypes($event)">
        </app-multi-select-dropdown>
      </div>
  
      <!-- case grouping -->
      <app-case-planning-grouping
        (onToggleCasePlanningGroup)="toggleCasePlanningGroupHandler($event)"
      ></app-case-planning-grouping>
    </div>
  
    <!-- <div class="center-part"></div> -->
  </div>
  <!--  -->
  <!--  -->
  
  
  <!-- search input type-ahead -->
  
  <ng-template #customProjectTypeAheadTemplate let-model="item" let-index="index">
  
    <div *ngIf="model.oldCaseCode" id="{{ 'demandProjectSearch-option-' + index }}" class="row" style="font-size: 12px">
  
      <div class="col-12">
  
        <div class="row">
  
          <div class="color-box case"></div>
  
          <div class="col-7 padding-left x10 textWrap"
  
            title="{{ model.oldCaseCode + ' - ' + model.clientName + ' - ' + model.caseName }}">
  
            {{ model.oldCaseCode + " - " + model.clientName + " - " + model.caseName }}
  
          </div>
  
          <div class="col-1">
  
            {{ model.managingOfficeAbbreviation }}
  
          </div>
  
          <div class="col-3">
  
            {{ model.startDate | date : "dd-MMM-yyyy" }} - {{ model.endDate | date : "dd-MMM-yyyy" }}
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
    <div *ngIf="model.pipelineId" id="{{ 'demandProjectSearch-option-' + index }}" class="row" style="font-size: 12px">
  
      <div class="col-12">
  
        <div class="row">
  
          <div class="color-box opportunity"></div>
  
          <div *ngIf="model.probabilityPercent" class="col-7 padding-left x10 textWrap"
  
            title="{{ model.probabilityPercent + ' - ' + model.clientName + ' - ' + model.opportunityName }}">
  
            {{ model.probabilityPercent + "% - " + model.clientName + " - " + model.opportunityName }}
  
          </div>
  
          <div *ngIf="!model.probabilityPercent" class="col-7 padding-left x10 textWrap"
  
            title="{{ model.clientName + ' - ' + model.opportunityName }}">
  
            {{ model.clientName + " - " + model.opportunityName }}
  
          </div>
  
          <div class="col-1">
  
            {{ model.managingOfficeAbbreviation }}
  
          </div>
  
          <div class="col-3" *ngIf="model.endDate">
  
            {{ model.startDate | date : "dd-MMM-yyyy" }} - {{ model.endDate | date : "dd-MMM-yyyy" }}
  
          </div>
  
          <div class="col-3" *ngIf="!model.endDate">
  
            {{ model.startDate | date : "dd-MMM-yyyy" }}
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </ng-template>