<app-notification-banner [sharedNotes] = "sharedNotes" [caseIntakeAlerts] = "caseIntakeAlerts"></app-notification-banner> 

<div id="analyticsNav">
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="nav nav-pills  ">
      <li class="nav-item" [class.active]="page === '/analytics/dailyDeploymentDetails'" *appFeaturesAccess="[report.dailyDeploymentDetails]">
        <a class="nav-link" routerLink="dailyDeploymentDetails">Daily Deployment Details</a>
      </li>
      <li class="nav-item"
        [class.active]="page === '/analytics/weeklyDeploymentIndividualResourceDetails' || page === '/analytics/weeklyDeploymentSummaryView' || page === '/analytics'"
        *appFeaturesAccess="[report.weeklyDeploymentIndividualResourceDetails,report.weeklyDeploymentSummaryView]">
        <a tabindex="0" class="nav-link" placement="bottom-left bottom-right"
          [ngbPopover]="weeklyDeploymentPopupTemplate" container="body"
          popoverClass="{{ getContainerClass('weeklyDeploymentIndividualResourceDetails') }} analytics-popover-wrapper">Weekly
          Deployment</a>
      </li>
      <li class="nav-item"
        [class.active]="page === '/analytics/monthlyDeployment' || page === '/analytics/monthlyFTEUtilization' || page === '/analytics/monthlyFTEUtilizationIndividual' || page === '/analytics/practiceStaffing' || page === '/analytics/practiceStaffingCaseServed' || page === '/analytics/affiliateTimeInPractice' || page === '/analytics/smapAllocations' || page === '/analytics/caseExperience' "
        *appFeaturesAccess="[report.monthlyDeployment,report.monthlyFTEUtilization , report.monthlyFTEUtilizationIndividual, report.practiceStaffing,report.practiceStaffingCaseServed, report.affiliateTimeInPractice, report.smapAllocations, report.caseExperience]">
        <a tabindex="0" class="nav-link" placement="bottom-left bottom-right"
          [ngbPopover]="monthlyDeploymentPopupTemplate" container="body"
          popoverClass="{{ getContainerClass('monthlyDeployment') }} analytics-popover-wrapper">Monthly
          FTE Utilization</a>
      </li>
      <li class="nav-item"
        [class.active]="page === '/analytics/staffingAllocation' || page === '/analytics/staffingAllocationsMonthly' || page === '/analytics/commitmentDetails' || page === '/analytics/historicalAllocationsForPromotions' || page === '/analytics/whoWorkedWithWhom' || page === '/analytics/staffingInsights'"
        *appFeaturesAccess="[report.staffingAllocation, report.staffingAllocationsMonthly, report.commitmentDetails, report.historicalAllocationsForPromotions, report.whoWorkedWithWhom, report.staffingInsights]">
        <a tabindex="0" class="nav-link" placement="bottom-left bottom-right"
          [ngbPopover]="staffingAllocationPopupTemplate" container="body"
          popoverClass="{{ getContainerClass('staffingAllocation') }} analytics-popover-wrapper">Staffing Allocation</a>
      </li>
      <li class="nav-item" [class.active]="page === '/analytics/ringfenceStaffing'"
        *appFeaturesAccess="report.ringfenceStaffing">
        <a class="nav-link" routerLink="ringfenceStaffing">Ringfence Staffing</a>
      </li>

      <li class="nav-item"
        [class.active]="page === '/analytics/globalCapacitySummary' || page === '/analytics/globalClientFacingHeadcount' || page === '/analytics/priceRealization' || page === '/analytics/caseEconomics'"
        *appFeaturesAccess="[report.globalCapacitySummary,report.globalClientFacingHeadcount,report.priceRealization,report.caseEconomics]">
        <a tabindex="0" class="nav-link" placement="bottom-left bottom-right" [ngbPopover]="financePopupTemplate"
          container="body" popoverClass="{{ getContainerClass('finance') }} analytics-popover-wrapper">Finance</a>
      </li>
    </ul>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>




<!-- Content for weekly deployment popover -->
<ng-template #weeklyDeploymentPopupTemplate>
  <a *appFeaturesAccess="report.weeklyDeploymentSummaryView" class="nav-link dropdown-item"
    routerLink="weeklyDeploymentSummaryView">Summary View</a>
  <a *appFeaturesAccess="report.weeklyDeploymentIndividualResourceDetails" class="nav-link dropdown-item"
    routerLink="weeklyDeploymentIndividualResourceDetails">Individual Resource Details</a>
  <!-- <a *appFeaturesAccess="report.testResponsiveReport" class="nav-link dropdown-item"
    routerLink="testResponsiveReport">Test Responsive Report</a> -->
</ng-template>
<!--End of content for profile popover-->

<!-- Content for monthly deployment popover -->
<ng-template #monthlyDeploymentPopupTemplate>
  <a *appFeaturesAccess="report.monthlyFTEUtilization" class="nav-link dropdown-item"
    routerLink="monthlyFTEUtilization">Monthly FTE Utilization</a>
  <a *appFeaturesAccess="report.monthlyFTEUtilizationIndividual" class="nav-link dropdown-item"
    routerLink="monthlyFTEUtilizationIndividual">Individual Monthly FTE Utilization</a>
  <a *appFeaturesAccess="report.practiceStaffing" class="nav-link dropdown-item" routerLink="practiceStaffing">Practice
    Staffing</a>
  <a *appFeaturesAccess="report.practiceStaffingCaseServed" class="nav-link dropdown-item"
    routerLink="practiceStaffingCaseServed">Practice Staffing – Case Served</a>
  <a *appFeaturesAccess="report.affiliateTimeInPractice" class="nav-link dropdown-item"
    routerLink="affiliateTimeInPractice">Ind. Time In Pratice</a>
  <a *appFeaturesAccess="report.smapAllocations" class="nav-link dropdown-item" routerLink="smapAllocations">SMAP +
    Allocations</a>
  <a *appFeaturesAccess="report.caseExperience" class="nav-link dropdown-item" routerLink="caseExperience">Case
    Experience</a>
</ng-template>
<!--End of content for profile popover-->

<!-- Content for staffing Allocation popover -->
<ng-template #staffingAllocationPopupTemplate>
  <a *appFeaturesAccess="report.staffingAllocation" class="nav-link dropdown-item"
    routerLink="staffingAllocation">Staffing Allocation</a>
  <a *appFeaturesAccess="report.staffingAllocationsMonthly" class="nav-link dropdown-item"
    routerLink="staffingAllocationsMonthly">Staffing Allocation Monthly</a>
  <a *appFeaturesAccess="report.commitmentDetails" class="nav-link dropdown-item"
    routerLink="commitmentDetails">Commitment Details</a>
  <a *appFeaturesAccess="report.historicalAllocationsForPromotions" class="nav-link dropdown-item"
    routerLink="historicalAllocationsForPromotions">Historical Allocations For Promotions</a>
  <a *appFeaturesAccess="report.whoWorkedWithWhom" class="nav-link dropdown-item" routerLink="whoWorkedWithWhom">Who’s
    work with whom</a>
  <a *appFeaturesAccess="report.staffingInsights" class="nav-link dropdown-item" routerLink="staffingInsights">Staffing
    Insights</a>

</ng-template>
<!--End of content for profile popover-->


<!-- Content for Finance popover -->
<ng-template #financePopupTemplate>
    <a *appFeaturesAccess="report.globalCapacitySummary" class="nav-link dropdown-item" routerLink="globalCapacitySummary">Global Capacity 
      Summary</a>
    <a *appFeaturesAccess="report.globalClientFacingHeadcount" class="nav-link dropdown-item" routerLink="globalClientFacingHeadcount">Global Client Facing 
      Headcount</a>
  <a *appFeaturesAccess="report.priceRealization" class="nav-link dropdown-item" routerLink="priceRealization">Client
    Pricing Details</a>
  <a *appFeaturesAccess="report.caseEconomics" class="nav-link dropdown-item" routerLink="caseEconomics">Case
    Economics</a>

</ng-template>
<!--End of content for profile popover-->
