.weekly-resource-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  min-height: 32px;
  position: relative;
  white-space: nowrap;

  .week-wrapper {
    align-items: center;
    background: #ecf0ff;
    border: solid #e0e4e8;
    border-width: 0px 1px 0px 0px;
    color: #121212;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    grid-column: auto;
    height: 32px;
    justify-content: center;
    min-width: 280px;

    &.resource-view {
      align-items: flex-start;
      background: #fff;
      flex-direction: column;
      gap: 10px;
      height: 100%;
      justify-content: flex-start;

      #new-planning-card-cta {
        background-color: #fff;
        border: 1px solid #284ce0;
        border-radius: 4px;
        color: #284ce0;
        font-size: 12px;
        outline: none;
        padding: 2px;
        text-align: center;
        width: 100%;
      }
    }
  }
}

// toggle column span
.expanded {
  min-width: 650px !important;
  width: calc((100vw / 7) * 2);
}