<div class="resources-wrapper" [ngClass]="isRowCollapsed ? 'collapsed' : ''">
    <!-- Resource Info -->
    <div class="resources-info-wrapper">

      <!-- client -->
      <p triggers="mouseenter:mouseleave" container="body" 
        popoverClass="case-planning-page-popover">
        {{ projectDetails.clientName }}
      </p>
  
      <!-- case -->
      <p  triggers="mouseenter:mouseleave" container="body"
        popoverClass="case-planning-page-popover">
        {{ projectDetails.caseName }}
      </p>
  
      <!-- manager -->
      <p triggers="mouseenter:mouseleave" container="body"
        popoverClass="case-planning-page-popover">
        {{ projectDetails.manager }}
      </p>
  
      <!-- case code -->
      <p  triggers="mouseenter:mouseleave" container="body"
        popoverClass="case-planning-page-popover">
        {{ projectDetails.oldCaseCode }}
      </p>
  
      <!-- case % -->
      <input  [class.bain-red]="projectDetails.overrideProbabilityPercent" 
        *ngIf="!projectDetails.oldCaseCode && !projectDetails.isPegPlanningCard" class="resource-input" #probabilityInput type="text"
        [(ngModel)]="projectDetails.probabilityPercent" (blur)="updateProbability(probabilityInput.value)" />
      
      <div *ngIf="projectDetails.oldCaseCode" class="case-input"></div>
      <div *ngIf="projectDetails.isPegPlanningCard" class="case-input">
        <span>{{ projectDetails.probabilityPercent }}</span>
      </div> 
  
      <!-- start date -->
      <input *ngIf="!projectDetails.oldCaseCode  && !projectDetails.isPegPlanningCard"
        [class.bain-red]="projectDetails.overrideStartDate" 
        class="resource-input" 
        placeholder="dd-mmm-yy" 
        type="text" 
        [ngModel]="projectDetails.startDate" 
        bsDatepicker
        [bsConfig]="bsConfig" 
        (ngModelChange)="updateStartDate($event)" />
      <div class="error-message row" *ngIf="oppStartDateValidationObj.showMessage">
          <span class="col-10"> {{ oppStartDateValidationObj.errorMessage }}</span>
          <i
              class="fa fa-times clickable hide-error col-1"
              (click)="hideValidationMessage('probabilityStartDate', $event)"
          ></i>
      </div>

      <div *ngIf="projectDetails.oldCaseCode || projectDetails.isPegPlanningCard">
        <span>{{ projectDetails.startDate }}</span>
      </div>
  
      <!-- end date -->
      <input *ngIf="!projectDetails.oldCaseCode  && !projectDetails.isPegPlanningCard"
        [class.bain-red]="projectDetails.overrideEndDate" 
        class="resource-input" 
        placeholder="dd-mmm-yy" 
        type="text" 
        [ngModel]="projectDetails.endDate" bsDatepicker
        [bsConfig]="bsConfig" (ngModelChange)="updateEndDate($event)" />
      <div class="error-message row" *ngIf="oppEndDateValidationObj.showMessage">
          <span class="col-10"> {{ oppEndDateValidationObj.errorMessage }}</span>
          <i
              class="fa fa-times clickable hide-error col-1"
              (click)="hideValidationMessage('probabilityEndDate', $event)"
          ></i>
      </div>

      <div *ngIf="projectDetails.oldCaseCode || projectDetails.isPegPlanningCard">
        <span>{{ projectDetails.endDate }}</span>
      </div>
  
      <!-- office -->
      <div *ngIf="projectDetails.planningCardId  && !projectDetails.isPegPlanningCard" class="btn-group case-planning-treeview-dropdown" dropdown #officeDropdown="bs-dropdown" container="body"
        [insideClick]="true" autoClose="outside" (onHidden)="updateOffices()" placement="bottom" >
        <button class="resource-input" id="office-toggle" dropdownToggle aria-controls="office-container"
            container="body" (click)="$event.stopPropagation()"
          popoverClass="case-planning-page-popover">
          <span *ngIf="!officeDropdown.isOpen">{{ projectDetails.managingOfficeAbbreviation }}</span>
          <span *ngIf="officeDropdown.isOpen">Office</span>
        </button>
        <div class="error-message row" *ngIf="officeValidationObj.showMessage">
          <span class="col-10"> {{ officeValidationObj.errorMessage }}</span>
          <i
              class="fa fa-times clickable hide-error col-1"
              (click)="hideValidationMessage('office', $event)"
          ></i>
      </div>
  
        <!-- Office Menu -->
        <div class="case-planning-resource-office-dropdown dropdown-menu" id="office-container" *dropdownMenu role="menu"
          aria-labelledby="office-toggle" (click)="$event.stopPropagation()">
          <app-office-dropdown [officeHierarchy]="officeHierarchy" [selectedOfficeList]="selectedOfficeList"
            [title]="'Offices'" [treeViewType]="1" [maxHeight]="200" (refreshView)="onOfficeChange($event)">
          </app-office-dropdown>
        </div>
      </div>

      <div *ngIf="!projectDetails.planningCardId || projectDetails.isPegPlanningCard" class="word-wrap"
        [title] = "projectDetails.managingOfficeAbbreviation">
        <span>{{ projectDetails.managingOfficeAbbreviation }}</span>
      </div>
  
      <!-- include in demand -->
      <app-custom-checkbox [isChecked]="projectDetails.includeInDemand" (toggleCheckbox)="includeInDemand()" 
        triggers="mouseenter:mouseleave" container="body" popoverClass="case-planning-page-popover">
      </app-custom-checkbox>
      
    </div>
  
    <div class="resources-info-wrapper2">
      <!-- cortex -->
      <div class="d-flex mt-1">
        <p class="mr-2">Cortex</p>
        <p triggers="mouseenter:mouseleave" container="body"
          popoverClass="case-planning-page-popover"
          [title] = "projectDetails.estimatedTeamSize">
          {{projectDetails.estimatedTeamSize}}
        </p>
      </div>
  
      <!-- pc -->
      <div class="d-flex mt-1">
        <p class="mr-2">PC</p>
        <p triggers="mouseenter:mouseleave" container="body"
          popoverClass="case-planning-page-popover"
          [title] = "projectDetails.pricingTeamSize">
        {{projectDetails.pricingTeamSize}}</p>
      </div>
  
      <!-- sku -->
      <div class="d-flex align-items-center mt-1">
        <p class="sku mr-1">SKU:</p>
        <button *ngIf="projectDetails.sku" class="resource-button" (click)="openAddTeamSkuFormHandler(projectDetails)"
           triggers="mouseenter:mouseleave" container="body"
          popoverClass="case-planning-page-popover">
          <span>{{ projectDetails.sku }}</span>
        </button>
  
        <button *ngIf="!projectDetails.sku" class="resource-button" (click)="openAddTeamSkuFormHandler(projectDetails)"
           triggers="mouseenter:mouseleave" container="body"
          popoverClass="case-planning-page-popover">
          <i class="fas fa-user-plus"></i>
        </button>
      </div>
  
      <!-- note -->
      <div>
        <app-shared-gantt-notes [notes]="casePlanningNotes" [isNotesReadonly]="isNotesReadonly" [rowIndex]="rowIndex"
          (upsertNote)="upsertCasePlanningNoteHandler($event)" (deleteNotes)="deleteCasePlanningNotesHandler($event)">
        </app-shared-gantt-notes>
      </div>
  
      <!-- flag -->
      <button class="resource-button mt-1" [style.color]="projectDetails.isFlagged ? '#cc0000' : '#c2c9d1'"
        (click)="onFlagClick()" triggers="mouseenter:mouseleave"
        container="body" popoverClass="case-planning-page-popover">
        <i class="{{ isFlagged ? 'fas' : 'far' }} fa-flag"></i>
      </button>
    </div>
  </div>