@use "sass:math";
@import "variables";

.resources-wrapper {
  background: #fff;
  font-family: "Graphik";
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 8px;
  height: 100%;
  line-height: 10px;
  max-height: 100%;
  padding: 8px 10px;

  .bain-red {
    color: $bain-red !important;
  }

  p {
    color: #616568;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // Info
  .resources-info-wrapper {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 100px) 27px 26px repeat(2, 65px) 38px 47px;


    // input
    .resource-input {
      background-color: #fff;
      border: 1px solid #e0e4e8;
      border-radius: 4px;
      box-sizing: border-box;
      color: #616568;
      font-size: 10px;
      height: 20px;
      outline: none;
      overflow: hidden;
      padding-inline: 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &:hover {
        border-color: #284ce0;
      }
    }

    .case-input {
      height: 20px;
      width: 100%;
    }
  }


  .resources-info-wrapper2 {
    align-items: flex-start;
    display: grid;
    gap: 30px;
    grid-template-columns: 60px 110px 110px 1fr 47px;

    .resource-button {
      background: none;
      border: none;
      color: #616568;
      font-size: 10px;
      font-weight: 500;
      margin: 0px;
      outline: none;
      padding: 0px;
      width: fit-content;
    }
  }

  .word-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  .error-message {
    z-index: 1 !important;
    text-align: left;
    position: relative;
    transform: translate(-5px, 3px);
    width: 200px;
    padding: math.div($base-padding, 4);
    background-color: $bain-red;
    color: $white;
    white-space: normal;
}
}


// filters treeview
::ng-deep .case-planning-resource-office-dropdown {
  border: 1px solid #e0e4e8;
  color: #121212;
  font-size: 10px;
  padding: 10px 10px 0px;
}