<!-- Switch CTA -->
<label class="switch-cta">
    <input id="txtResourcesGroupType" type="checkbox" (change)="onModeChange($event)" />
    <span class="slider">
      <div>Employees</div>
      <div>Cases</div>
    </span>
  </label>

  <label class="switch-cta">
    <input id="txtResourcesGroupType" type="checkbox" [checked]="selectedGroupingViewOption === 'monthly'"(change)="onWeeklyViewChange($event)" />
    <span class="slider">
      <div>Weekly</div>
      <div>Monthly</div>
    </span>
  </label>

  <!-- commenting the practice and staffing view toggle for this release -->

  <label class="switch-cta single-toggle">
    <input id="txtPracticeView" type="checkbox"  [checked]="!isSelectedPracticeView"  (change)="onPracticeViewChange($event)" />
    <span class="slider">
      <div>Practice View</div>
      <div>Staffing View</div>
    </span>
  </label>




  