<div class="planning-card-header">
    <div class="plan">
        <div class="plan-container">
            <!-- <h4 class="plan__title"> -->
                <div class="case__title">
                    <input
                        placeholder="Planning Card"
                        [disabled]="isPegPlanningCard"
                        (change)="updatePlanningCardName($event)"
                        [(ngModel)]="planningCardDetails.name"
                        >
                    <h6 *ngIf="!planningCardDetails.pegOpportunityId"> <a [href]="caseIntakeFormURL" target="_blank">Link to Case Intake Form</a></h6>
                </div>   

            <div class="plan__peg-ringfence">
                <a *ngIf="showRingFenceIcon" title="PEG Opportunity Details"  class="rf-overlay-icon-container" (click)="openPegRFPopUpHandler()">
                    <img src="assets/img/fence-icon.png" alt="PEG Opportunity Details" class="fence-icon" />
                </a>
            </div>

            <!-- Action buttons -->
            <ng-container>
                <div class="preference__wrapper">
        
                <app-project-action-panel
                    [showMergeIcon]="true"
                    [showCardDeleteIcon]="true"
                    [showplaceholder]="true"
                    [showShareIcon]="true"
                    [allowPin]="false"
                    [allowHide]="false"
                    [showCaseRoll]="false"
                    [emailTo]="activeResourcesEmailAddresses"
                    [showQuickPeek]="false"
                    [isSTACommitmentCreated]="planningCardDetails.isSTACommitmentCreated"
                    [allowSTACommitment] = "planningCardDetails.includeInCapacityReporting"
                    [isPegPlanningCard]="isPegPlanningCard"
                    [placeholderTrigerredByEvent]="placeholderTrigerredByEvent"
                    (addPlaceHolderEmitter)="onAddPlaceHolderHandler()"
                    (toggleMergeDialogEmitter)="toggleMergeDialogHandler()"
                    (deleteCardEmitter)="deletePlanningCardHandler()"
                    (sharePlanningCardEmitter)="sharePlanningCardHandler()"
                    (openPlaceHolderFormEmitter)="openPlaceHolderFormhandler()"
                    (shortTermAvailableCaseOppCommitmentEmitter) = "shortTermAvailableCaseOppCommitmentEmitterHandler()">                  
                </app-project-action-panel>
                </div>
            </ng-container>
        </div>

        <div class="plan__card">
            <div class="detail shared-offices">
                <p class="header">Shared Offices</p>

                <ng-container *ngIf="sharedOffices && sharedOffices.length > 0; else noSharedOffices">
                    <p *ngFor="let office of sharedOffices">{{ office.officeName }}</p>
                </ng-container>
            
                <ng-template #noSharedOffices>
                    <p>Not Shared</p>
                </ng-template>
            
            </div>

            <div class="detail staffing-tags">
                <p class="header">Staffing Tag</p>

                <ng-container *ngIf="sharedStaffingTags.length">
                    <p *ngFor="let tag of sharedStaffingTags">{{ tag.serviceLineName }}</p>
                </ng-container>
            </div>

      <div class="detail start-date"  appFeatureDisabled [isDisabled]="isPegPlanningCard">
                <p class="header">Start Date</p>
          <div
              #startDateParentDiv
              class="inline-editable inline-editable-text"
              [class.error]="
                  planningCardDetails.startDate === null ||
                  !planningCardStartDateValidationObj.isValid
              "
                      (click)="editPlanningCardStartDate($event)">
                      <div>
                        <label>{{ planningCardDetails.startDate| date : "d-MMM-YY" }}</label>
                          <input
                              type="text"
                              placeholder="dd-mmm-yyyy"
                              #pcStartDate
                              [ngModel]="planningCardStartDate"
                              [bsConfig]="bsConfig"
                              (keydown.Tab)="onTabbingFromStartDate($event)"
                              (ngModelChange)="onPlanningCardStartDateChange($event)"
                              (blur)="disablePlanningCardStartDateEdit($event)"
                              bsDatepicker
                              #startDatepicker="bsDatepicker"
                          />
                          <i class="fa fa-calendar-alt edit-icon"></i>
                          <div class="error-message row" *ngIf="planningCardStartDateValidationObj.showMessage">
                              <span class="col-10"> {{ planningCardStartDateValidationObj.errorMessage }}</span>
                              <i
                                  class="fa fa-times clickable hide-error col-1"
                                  (click)="hideValidationMessage('planningCardStartDate', $event)"
                              ></i>
                          </div>
                      </div>
                  </div>
              </div>

      <div class="detail end-date" appFeatureDisabled [isDisabled]="isPegPlanningCard">
        <p class="header">End Date</p>
        <div
            class="inline-editable inline-editable-text"
            [class.active]="editableCol == 'planningCardEndDate'"
            [class.error]="
            planningCardDetails.endDate === null ||
            !planningCardEndDateValidationObj.isValid
            "
            (click)="editPlanningCardEndDate($event)"
        >
            <div>
                <label>{{ planningCardDetails.endDate| date : "d-MMM-YY" }}</label>
                <input
                    type="text"
                    placeholder="dd-mmm-yyyy"
                    #pcEndDate
                    [ngModel]="planningCardEndDate"
                    [bsConfig]="bsConfig"
                    (keydown.Tab)="onTabbingFromEndDate($event)"
                    (ngModelChange)="onPlanningCardEndDateChange($event)"
                    (blur)="disablePlanningCardEndDateEdit($event)"
                    bsDatepicker
                    #endDatepicker="bsDatepicker"
                />
                <i class="fa fa-calendar-alt edit-icon"></i>
                <div class="error-message row" *ngIf="planningCardEndDateValidationObj.showMessage">
                    <span class="col-10">{{ planningCardEndDateValidationObj.errorMessage }}</span>
                    <i
                        class="fa fa-times clickable hide-error col-1"
                        (click)="hideValidationMessage('planningCardEndDate', $event)"
                    ></i>
                </div>
            </div>
        </div>
    </div>

            <div class="detail case-type">
                <p class="header">Case Type</p>
                <p>Planning Card</p>
            </div>

            <div class="detail include-capacity">
                <p class="header">Include in capacity reporting</p>
                    <p>{{ planningCardDetails.includeInCapacityReporting ? 'Yes' : 'No' }}</p>
            </div>

        </div>
    </div>
</div>