<div class="card h-100 d-flex flex-column">
    <div class="card-body p-3">

        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0 text-dark">Transfers</h5>
            <!-- <button class="btn btn-sm btn-success">+ Add</button> -->
        </div>

        <!-- Divider -->
        <hr class="small-divider">

        <!-- Body -->
        @if (tranferData?.length > 0) {
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Transfer From</th>
                        <th scope="col">Transfer To</th>
                        <th scope="col">Effective Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- @for (transaction of tranferData; track $index){ -->
                    <tr *ngFor="let transaction of tranferData" scope="row">
                        <td>{{transaction.operatingOfficeCurrent.officeName}}</td>
                        <td>{{transaction.operatingOfficeProposed.officeName}}</td>
                        <td>{{transaction.startDate | date:'dd-MMM-YYYY'}}</td>

                    </tr>
                    <!-- } -->
                </tbody>
            </table>
        </div>
        }
        @else {
        <p class="text-muted">No records found.</p>
        }
    </div>
</div>
