.close-btn{
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #000;
  font-weight: 600;
}
.modal-header{
  position: relative;
  padding-bottom: 0;
  button{
    position: absolute;
    top: 10px;
    right: 20px;
  }
  border-bottom: none;
  h2{
    font-weight: 500;
    font-size: 20px;
    padding-left: 8px;
  }
}
.modal-container{
  max-width: 503px;
}
.btn{
  width: 116px;
  height: 40px;
  border-radius: 4px;
  background: #284CE0;
  color: #fff;
  border: none;
  position: absolute;
  right: 20px;
  margin-bottom: 10px;
}
.input-url{
  width: 73%;
  padding: 7px;
  border-radius: 5px;
  border: solid 1px;
}
