<div class="advanced-filters no-gutters">
    <!-- Office Multiselect Dropdown -->
    <div
      class="selectpicker"
      id="supplyOfficeFilter"
    >
      <label>Offices</label>
      <app-office-dropdown
        [officeHierarchy]="officeHierarchy"
        [selectedOfficeList]="selectedOfficeList"
        [title]="'Offices'"
        (refreshView)="getProjectsBySelectedOffice($event)"
      >
      </app-office-dropdown>
    </div>
  
    <!-- Opportunity Status Type Dropdown -->
    <div
      class="selectpicker"
      id="demandOpportunityStatusTypeFilter"
    >
      <label>Opportunity Status</label>
      <app-multi-select-dropdown
        [dropdownList]="opportunityStatusTypeDropdownList"
        [selectedItems]="selectedOpportunityStatusTypeList"
        [title]="'Opp Status Types'"
        (refreshView)="getProjectsBySelectedOppStatusTypes($event)"
      >
      </app-multi-select-dropdown>
    </div>

    <div
      class="selectpicker"
      id="caseTypeFilter"
    >
      <label>Type</label>
      <app-multi-select-dropdown 
        [dropdownList]="caseTypeDropdownList" 
        [selectedItems]="selectedCaseTypeList"
        [title]="'Case Types'" 
        (refreshView)=getProjectsBySelectedCaseTypes($event)>
    </app-multi-select-dropdown>
    </div>

    <div
      class="selectpicker"
      id="demandStatusFilter"
    >
      <label>Demand Status</label>
      <div class="dropdown mr-3" id="demandTypeFilter">
        <app-multi-select-dropdown 
          [dropdownList]="demandTypeList" 
          [selectedItems]="selectedDemandTypeList"
          [title]="'Demand Status'" 
          (refreshView)="getProjectsByDemandTypes($event)">
        </app-multi-select-dropdown>
      </div>
    </div>
  
    <!-- Case/Opp Tag Dropdown -->
    <div
      class="selectpicker"
      id="demadCaseAttributeFilter"
    >
      <label>Case/Opp Tags</label>
      <app-multi-select-dropdown
        [dropdownList]="staffingTagDropdownList"
        [selectedItems]="selectedStaffingTagList"
        [title]="'Case/Opp Tags'"
        (refreshView)="getProjectsBySelectedStaffingTags($event)"
      >
      </app-multi-select-dropdown>
    </div>
  
    <!-- Opportunity Slider -->
    <div
      class="selectpicker"
      id="demandOppProbabilityFilter"
      *ngIf="isMinOppProbabilityFilterShown"
    >
      <label>Min Probability Percentage</label>
      <shared-slide-bar
        [selectedValue]="minDemandProbabilityPercent"
        (valueChanged)="getDemandsByMinProbability($event)"
      >
      </shared-slide-bar>
    </div>
  
    <!-- Industry Practice Area Dropdown -->
    <div
      class="selectpicker"
      id="demandIndustryPracticeAreaFilter"
    >
      <label>Industry Practice Area</label>
      <app-multi-select-dropdown
        [dropdownList]="industryPracticeAreaDropdownList"
        [selectedItems]="selectedIndustryPracticeAreaList"
        [title]="'Industry Practice Area'"
        (refreshView)="getProjectsBySelectedIndustryPracticeAreas($event)"
      >
      </app-multi-select-dropdown>
    </div>
  
    <!-- Capability Practice Area Dropdown -->
    <div
      class="selectpicker"
      id="demandCapabilityPracticeAreaFilter"
    >
      <label>Capability Practice Area</label>
      <app-multi-select-dropdown
        [dropdownList]="capabilityPracticeAreaDropdownList"
        [selectedItems]="selectedCapabilityPracticeAreaList"
        [title]="'Capability Practice Area'"
        (refreshView)="getProjectsBySelectedCapabilityPracticeAreas($event)"
      >
      </app-multi-select-dropdown>
    </div>
  
    <!-- Staff from my supply Toggle -->
    <div
      class="selectpicker"
      id="staffFromMySupplyFilter"
    >
      <label>Staff From My Supply</label>
      <div>
        <label class="switch">
          <input
            type="checkbox"
            (click)="toggleStaffFromSupply()"
            [checked]="isStaffedFromSupply"
          />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  
    <!-- Sort by -->
    <div
      class="selectpicker"
      id="caseAllocationsSortByFilter"
    >
      <label>Sort By (on cards)</label>
      <app-single-select-dropdown
        [dropdownList]="caseAllocationsSortByList"
        [selectedItem]="selectedSortByItem"
        [title]="'Sort By'"
        (valueChange)="getAllocationsSortedBySelectedValue($event)"
      >
      </app-single-select-dropdown>
    </div>

    
    <!-- Expand all cards -->
    <!-- <div class="expand-cards selectpicker flex-row align-items-center">
      <app-custom-checkbox
        [isChecked]="expandAllCards"
        [size]="'medium'"
        (toggleCheckbox)="toggleExpandAllCards()"
      ></app-custom-checkbox>
  
      <label>Expand all cards</label>
    </div> -->
  </div>