.stage-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Graphik";
  height: 100%;
  min-width: fit-content;
  position: relative;

  .height {
    height: 50%;
  }

  // top section
  .top-section-wrapper,
  .bottom-section-wrapper {

    // week controls
    .weekly-resource-wrapper {
      background: #ecf0ff;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(5, 1fr);
      padding-right: 10px;
      min-height: 32px;
      position: relative;
      white-space: nowrap;
      width: 100%;

      #split-area {
        left: 0px;
        position: sticky;
        z-index: 2;
      }

      .week-wrapper {
        align-items: center;
        background: #ecf0ff;
        border: solid #e0e4e8;
        border-width: 0px 1px 1px 0px;
        color: #121212;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        grid-column: auto;
        height: 32px;
        justify-content: center;
        min-width: 280px;
        padding: 5px 10px;
        position: relative;

        &:last-of-type {
          border-right: none;
        }

        button.pagination-cta{
          background-color: #ecf0ff;
          background-size: cover;
          border: none;
          height: 15px;
          position: absolute;
          width: 15px;

          &.previous-week-cta{
            left: 0px;
          }

          &.next-week-cta{
            left: auto;
            right: 0px;
          }

        }
        button.expand-collapse-cta {
          background-color: #ecf0ff;
          background-image: url("../../../assets/img/ea-resize-icon.svg");
          background-size: cover;
          border: none;
          display: none;
          height: 15px;
          position: absolute;
          right: 10px;
          width: 15px;
        }

        &:hover button {
          display: block;
        }

        &.resource-view {
          align-items: flex-start;
          background: #fff;
          flex-direction: column;
          gap: 10px;
          height: 100%;
          justify-content: flex-start;
          overflow: auto;
          padding: 10px;

          #new-planning-card-cta {
            background-color: #fff;
            border: 1px solid #284ce0;
            border-radius: 4px;
            color: #284ce0;
            font-size: 12px;
            outline: none;
            padding: 2px;
            text-align: center;
            width: 100%;
          }
        }
      }
    }

    // applied filters
    .applied-filters-wrapper {
      align-items: center;
      background: #f7f9ff;
      border-bottom: 1px solid #e0e4e8;
      box-sizing: border-box;
      display: flex;
      gap: 30px;
      left: 0px;
      min-height: 32px;
      padding: 7px 20px;
      position: sticky;
      width: calc(100vw - 1px);
      z-index: 2; /* Set a higher z-index value for the applied filters wrapper */

      &>* {
        color: #616568;
        font-size: 12px;
        line-height: 16px;
      }

      #bolder {
        font-weight: 500;
      }

      #bolder-highlighted {
        color: blue;
        font-weight: 500;
        background-color: #ecf0ff; 
        padding: 5px; 
        border-radius: 5px; 
        display: inline-block; 
      }

      .filter-item {
        background: none;
        border: none;
        outline: none;
        padding: 0px;

        &:hover {
          color: #000;
        }

        &.active {
          color: #121212;
          font-weight: 500;
        }
      }

      // viewing group dropdown..
      // ..toggle
      #button-viewing-group-picker {
        background: none;
        border: none;
        outline: none;
      }

      // ..menu
      .dropdown-menu {
        background: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        max-height: 260px;
        min-width: 150px;
        overflow: auto;
        z-index: 130; /* Set a higher z-index value */

        // ..item
        .dropdown-item {
          color: #121212;
          font-size: 12px;
          line-height: 16px;
          padding: 6px 20px;
          text-align: left;

          &:hover,
          &:active,
          &.active {
            background-color: #f7f9ff;
            color: #000;
          }
        }
      }
      .custom-dropdown-menu {
        right: auto !important;
        left: 0 !important;
        transform: translateX(-100%) !important;
      }
    }
  }
}

// toggle column span
.expanded {
  min-width: 650px !important;
  width: calc((100vw / 7) * 2);
}

.new-stage-area {
  display: grid;
  height: 100%;
  overflow: auto;
  width: 100%;  
}

#align-left {
  left: 15px;
}
